In [1]:
import numpy as np
import pandas as pd
import recsys as rs

In [2]:
dataset = pd.read_csv('Data/train_final.csv','\t')
tr_info = pd.read_csv('Data/tracks_final.csv','\t')
tgt_pl = pd.read_csv('Data/target_playlists.csv','\t')
tgt_tr = pd.read_csv('Data/target_tracks.csv','\t')
attributes = ['artist_id', 'album', 'tags', 'playcount', 'duration']
n_min_attr = 1000
n_el_sim = 20
measure = 'dot'
shrinkage = 0
min_tracks_in_playlist=10
test_percentage=20
n_tracks_toremove=5
seed=2517

In [3]:
tr_info_reduced = tr_info.sample(n=5000, random_state=2517, axis=0)
tr_info_reduced

,track_id,artist_id,duration,playcount,album,tags
58953,190289,292479,195000,64.0,[134748],"[235879, 11056, 11374, 79716, 79259]"
45209,2121734,228815,306000,4328.0,[105362],"[61837, 70618, 70251, 115355, 175099]"
87223,3783220,418280,195000,23.0,[196282],"[122769, 117167, 123107, 68498, 31015]"
2934,3362029,19144,189000,1262.0,[None],"[190112, 205245, 11056, 81211, 11242]"
3174,3870449,20246,268000,351.0,[8670],"[228654, 189631, 11653, 81223, 228763]"
67666,2957114,337984,261000,874.0,[155561],"[31015, 31253, 100810, 31065, 81223]"
26733,608708,141098,336000,357.0,[62923],"[263180, 29723, 193238, 154891, 266785]"
54474,1218133,273056,353000,37.0,[None],"[201327, 207510, 66029, 121374, 201535]"
10620,45234,50659,270000,45.0,[25288],"[205245, 194264, 103394, 231854, 194413]"
3286,1275962,20847,191000,336.0,[8983],"[11056, 115752, 209678, 59632, 130293]"
53532,3003333,268739,268000,1227.0,[None],"[4425, 68498, 264053, 81223, 270182]"
58685,3173002,3808,315000,2641.0,[134123],"[70618, 5968, 64978, 255208, 142475]"
69566,1729619,346357,464000,772.0,[None],"[78511, 115859, 115871, 270105, 70625]"
28108,190397,147287,221000,46556.0,[66180],"[70618, 54087, 70625, 78105, 109806]"
38474,1702866,198247,205000,1.0,[91140],"[70625, 70618, 115355, 235879, 189631]"
50183,352435,252347,194000,175.0,[116081],"[186445, 48949, 11957, 168623, 48984]"
38510,1154967,198582,169000,25.0,[91315],"[115355, 70618, 81223, 204282, 70251]"
16913,564251,77884,261000,1799.0,[39473],"[189631, 54087, 29049, 81223, 138266]"
55138,1627050,276834,173000,13613.0,[127374],"[11242, 11056, 205245, 115355, 187594]"
11153,3858140,52124,289000,1236.0,[26276],"[115355, 115752, 11056, 205245, 35060]"
54219,1576670,271661,308000,1399.0,[124857],"[76913, 191177, 19500, 170251, 232629]"
9245,266002,44153,270000,38.0,[None],"[11412, 84911, 84913, 25675, 2370]"
36521,3275087,188004,280000,1.0,[86554],"[70618, 70251, 134224, 134139, 237214]"
53598,3072615,269036,420000,349.0,[123588],"[122769, 49397, 211809, 117167, 221703]"
26644,2063847,140754,229000,1163.0,[62822],"[97480, 92799, 169455, 70625, 70618]"
92299,97179,450200,334000,5292.0,[208773],"[205245, 124164, 215342, 142475, 218701]"
9041,436453,43620,229000,594.0,[21327],"[115355, 11056, 1538, 1494, 238317]"
93804,2891817,456920,1082000,439.0,[212334],"[31015, 20000, 46208, 31252, 31256]"
44733,214035,227439,309000,4380.0,[104612],"[256796, 233566, 271235, 43212, 16041]"
61307,2597585,307301,183000,1332.0,[None],"[235879, 21937, 153933, 75753, 75702]"
...,...,...,...,...,...,...
74324,2756842,358824,283000,1316.0,[167437],"[191177, 216938, 115355, 35060, 91383]"
99289,3219532,146307,-1,NaN,[],[]
1202,2123656,10400,207000,290.0,[3499],"[175331, 205245, 103394, 154891, 175333]"
72137,2255045,352875,339000,905.0,[163394],"[11056, 170251, 168850, 11242, 3982]"
61913,674453,310141,482000,588.0,[142554],"[191251, 11957, 18322, 200537, 66076]"
47933,1807344,242068,266000,224.0,[111528],"[84597, 115355, 84911, 30878, 35060]"
63003,678779,315870,29000,23.0,[None],"[226723, 89467, 203440, 199968, 96409]"
19201,60400,86109,503000,74.0,[43766],"[205245, 11242, 100238, 103394, 51489]"
26299,3601714,139394,305000,236.0,[62084],"[198998, 107401, 72275, 65347, 146655]"
94411,3522676,459136,429000,2.0,[213778],"[236955, 21937, 18322, 206121, 151222]"
22940,419616,114467,218000,4.0,[52526],"[105199, 103394, 46208, 154891, 61505]"
33274,287186,169548,269000,783.0,[77612],"[115355, 35060, 115752, 205245, 11056]"
72486,3174998,85732,258000,54.0,[163829],"[205283, 50604, 91383, 194540, 195173]"
23285,21989,115794,230000,780.0,[None],"[154891, 175331, 103394, 205245, 11191]"
87276,3185259,419534,277000,1509.0,[None],"[171835, 255208, 5968, 70618, 123323]"
51885,2168398,260550,-1,88.0,[],[]
32045,2790632,163922,387000,229.0,[74498],"[193464, 92517, 205245, 17166, 124088]"
54259,797846,271948,164000,553.0,[None],"[177424, 236483, 3188, 149023, 122769]"
9754,2694655,47096,88000,216.0,[23056],"[172690, 116047, 103055, 3982, 259432]"
96251,215915,20667,201000,104.0,[None],"[87197, 189631, 12315, 81223, 25809]"
34855,1547275,178090,332000,2356.0,[81871],"[212982, 200458, 72625, 72354, 190991]"
65006,2434145,325072,242000,9.0,[149396],"[115355, 258180, 148784, 222078, 11242]"
57032,3671664,124222,262000,26.0,[131140],"[205245, 46208, 196825, 3982, 35060]"
53674,2610366,269363,197000,2882.0,[123757],"[3982, 84597, 205245, 163269, 1263]"
23885,2803471,121281,829000,516.0,[None],"[193395, 154891, 193464, 65576, 193210]"
8511,1752443,42063,190000,14.0,[20398],"[144067, 43242, 65011, 92476, 42956]"
81987,897795,388426,228000,1639.0,[183924],"[57528, 177604, 235902, 263180, 131203]"
4873,1996942,26062,251000,6831.0,[11558],"[11957, 70618, 201869, 81223, 30839]"
8186,195774,40714,165000,929.0,[19760],"[54087, 75574, 235879, 233847, 1655]"
4457,3620450,24885,-1,235.0,[],[]

In [4]:
train_reduced = dataset[dataset['track_id'].isin(tr_info_reduced['track_id'].values)]
train_reduced

         playlist_id  track_id
25           3631223   3114611
26           4144882   1081479
32           8711616   1507344
42           8478147   3620491
43           8234372   3714186
47           6857337   3309392
59           7738073   4474831
73           4186272    723241
108          5967886    543519
115          6666459   3325349
142          6441207   1629252
234          3460756   1136297
270          3756557   3351099
273          4223530    838485
281          7623847   2047628
338          8042290   2839253
354          4892492   1607128
358          6698807   2843232
385          7119396   2331839
405          3852276   4520269
415          2627479    234832
434          8517687   1715293
436          4247134    824691
461          7700272   2995242
463         10075831    569155
475         10831630    159516
488           257142   2640428
489          5467797   1739056
491         11611773   2214091
507          1736357   2668204
...              ...       ...
1039788      4036363   2047628
1039833      3604245   1647509
1039845       150641   1558960
1039852     10493475   3380851
1039883      4602507   2803652
1039908      5389117   3581440
1039930     10929096   3767507
1040023     10022949   2226064
1040076     10644764   3194428
1040085      8533798   1042548
1040123      7182357   3406703
1040136      7289991   3382218
1040170      4396571    315711
1040178      8390167   2114853
1040246      7925529   2263840
1040254      7403282   2866859
1040305      5567365   2489624
1040314      1105792   2894044
1040331      4198813   2509644
1040336       588778   2788426
1040364      8957050    417503
1040379      1018282   3567705
1040388      2367322   1155078
1040397      6641337   1907169
1040401      8628009   3846669
1040405      7542164   2902989
1040406      5236458    808796
1040430      3753506   3236140
1040443     10569085    337652
1040504       790446    245412

[54032 rows x 2 columns]

In [5]:
#tgt_pl_reduced = tgt_playlists[tgt_playlists['playlist_id'].isin(train_reduced['playlist_id'].values)]
#tgt_pl_reduced

In [6]:
#tgt_tr_reduced = tgt_tracks[tgt_tracks['track_id'].isin(train_reduced['track_id'].values)]
#tgt_tr_reduced

In [7]:
#test_reduced = test[test['track_id'].isin(tr_info_reduced['track_id'].values)]
#test_reduced

In [8]:
train, test, tgt_tracks, tgt_playlists = rs.split_train_test(train_reduced, min_tracks_in_playlist, test_percentage, n_tracks_toremove, seed)

In [9]:
tr_info_fixed = rs.fix_tracks_format(tr_info_reduced)
tr_info_fixed

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
58953,190289,292479,NaN,NaN,134748.0,235879.0,11056.0,11374.0,79716.0,79259.0
45209,2121734,228815,NaN,NaN,105362.0,61837.0,70618.0,70251.0,115355.0,175099.0
87223,3783220,418280,NaN,NaN,196282.0,122769.0,117167.0,123107.0,68498.0,31015.0
2934,3362029,19144,NaN,NaN,NaN,190112.0,205245.0,11056.0,81211.0,11242.0
3174,3870449,20246,NaN,NaN,8670.0,228654.0,189631.0,11653.0,81223.0,228763.0
67666,2957114,337984,NaN,NaN,155561.0,31015.0,31253.0,100810.0,31065.0,81223.0
26733,608708,141098,NaN,NaN,62923.0,263180.0,29723.0,193238.0,154891.0,266785.0
54474,1218133,273056,1.0,NaN,NaN,201327.0,207510.0,66029.0,121374.0,201535.0
10620,45234,50659,NaN,NaN,25288.0,205245.0,194264.0,103394.0,231854.0,194413.0
3286,1275962,20847,NaN,NaN,8983.0,11056.0,115752.0,209678.0,59632.0,130293.0
53532,3003333,268739,NaN,NaN,NaN,4425.0,68498.0,264053.0,81223.0,270182.0
58685,3173002,3808,NaN,NaN,134123.0,70618.0,5968.0,64978.0,255208.0,142475.0
69566,1729619,346357,1.0,NaN,NaN,78511.0,115859.0,115871.0,270105.0,70625.0
28108,190397,147287,NaN,1.0,66180.0,70618.0,54087.0,70625.0,78105.0,109806.0
38474,1702866,198247,NaN,NaN,91140.0,70625.0,70618.0,115355.0,235879.0,189631.0
50183,352435,252347,NaN,NaN,116081.0,186445.0,48949.0,11957.0,168623.0,48984.0
38510,1154967,198582,NaN,NaN,91315.0,115355.0,70618.0,81223.0,204282.0,70251.0
16913,564251,77884,NaN,NaN,39473.0,189631.0,54087.0,29049.0,81223.0,138266.0
55138,1627050,276834,NaN,1.0,127374.0,11242.0,11056.0,205245.0,115355.0,187594.0
11153,3858140,52124,NaN,NaN,26276.0,115355.0,115752.0,11056.0,205245.0,35060.0
54219,1576670,271661,NaN,NaN,124857.0,76913.0,191177.0,19500.0,170251.0,232629.0
9245,266002,44153,NaN,NaN,NaN,11412.0,84911.0,84913.0,25675.0,2370.0
36521,3275087,188004,NaN,NaN,86554.0,70618.0,70251.0,134224.0,134139.0,237214.0
53598,3072615,269036,1.0,NaN,123588.0,122769.0,49397.0,211809.0,117167.0,221703.0
26644,2063847,140754,NaN,NaN,62822.0,97480.0,92799.0,169455.0,70625.0,70618.0
92299,97179,450200,NaN,NaN,208773.0,205245.0,124164.0,215342.0,142475.0,218701.0
9041,436453,43620,NaN,NaN,21327.0,115355.0,11056.0,1538.0,1494.0,238317.0
93804,2891817,456920,1.0,NaN,212334.0,31015.0,20000.0,46208.0,31252.0,31256.0
44733,214035,227439,NaN,NaN,104612.0,256796.0,233566.0,271235.0,43212.0,16041.0
61307,2597585,307301,NaN,NaN,NaN,235879.0,21937.0,153933.0,75753.0,75702.0
...,...,...,...,...,...,...,...,...,...,...
74324,2756842,358824,NaN,NaN,167437.0,191177.0,216938.0,115355.0,35060.0,91383.0
99289,3219532,146307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1202,2123656,10400,NaN,NaN,3499.0,175331.0,205245.0,103394.0,154891.0,175333.0
72137,2255045,352875,NaN,NaN,163394.0,11056.0,170251.0,168850.0,11242.0,3982.0
61913,674453,310141,1.0,NaN,142554.0,191251.0,11957.0,18322.0,200537.0,66076.0
47933,1807344,242068,NaN,NaN,111528.0,84597.0,115355.0,84911.0,30878.0,35060.0
63003,678779,315870,NaN,NaN,NaN,226723.0,89467.0,203440.0,199968.0,96409.0
19201,60400,86109,1.0,NaN,43766.0,205245.0,11242.0,100238.0,103394.0,51489.0
26299,3601714,139394,NaN,NaN,62084.0,198998.0,107401.0,72275.0,65347.0,146655.0
94411,3522676,459136,1.0,NaN,213778.0,236955.0,21937.0,18322.0,206121.0,151222.0
22940,419616,114467,NaN,NaN,52526.0,105199.0,103394.0,46208.0,154891.0,61505.0
33274,287186,169548,NaN,NaN,77612.0,115355.0,35060.0,115752.0,205245.0,11056.0
72486,3174998,85732,NaN,NaN,163829.0,205283.0,50604.0,91383.0,194540.0,195173.0
23285,21989,115794,NaN,NaN,NaN,154891.0,175331.0,103394.0,205245.0,11191.0
87276,3185259,419534,NaN,NaN,NaN,171835.0,255208.0,5968.0,70618.0,123323.0
51885,2168398,260550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32045,2790632,163922,1.0,NaN,74498.0,193464.0,92517.0,205245.0,17166.0,124088.0
54259,797846,271948,NaN,NaN,NaN,177424.0,236483.0,3188.0,149023.0,122769.0
9754,2694655,47096,NaN,NaN,23056.0,172690.0,116047.0,103055.0,3982.0,259432.0
96251,215915,20667,NaN,NaN,NaN,87197.0,189631.0,12315.0,81223.0,25809.0
34855,1547275,178090,NaN,NaN,81871.0,212982.0,200458.0,72625.0,72354.0,190991.0
65006,2434145,325072,NaN,NaN,149396.0,115355.0,258180.0,148784.0,222078.0,11242.0
57032,3671664,124222,NaN,NaN,131140.0,205245.0,46208.0,196825.0,3982.0,35060.0
53674,2610366,269363,NaN,NaN,123757.0,3982.0,84597.0,205245.0,163269.0,1263.0
23885,2803471,121281,1.0,NaN,NaN,193395.0,154891.0,193464.0,65576.0,193210.0
8511,1752443,42063,NaN,NaN,20398.0,144067.0,43242.0,65011.0,92476.0,42956.0
81987,897795,388426,NaN,NaN,183924.0,57528.0,177604.0,235902.0,263180.0,131203.0
4873,1996942,26062,NaN,NaN,11558.0,11957.0,70618.0,201869.0,81223.0,30839.0
8186,195774,40714,NaN,NaN,19760.0,54087.0,75574.0,235879.0,233847.0,1655.0
4457,3620450,24885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
tr_info_fixed = rs.delete_low_frequency_attributes(tr_info_fixed, attributes, n_min_attr)
tr_info_fixed

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
58953,190289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45209,2121734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87223,3783220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2934,3362029,NaN,NaN,NaN,NaN,NaN,205245.0,NaN,NaN,NaN
3174,3870449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67666,2957114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26733,608708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54474,1218133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10620,45234,NaN,NaN,NaN,NaN,205245.0,NaN,NaN,NaN,NaN
3286,1275962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53532,3003333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58685,3173002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69566,1729619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28108,190397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38474,1702866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50183,352435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38510,1154967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16913,564251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55138,1627050,NaN,NaN,NaN,NaN,NaN,NaN,205245.0,NaN,NaN
11153,3858140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,205245.0,NaN
54219,1576670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9245,266002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36521,3275087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53598,3072615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26644,2063847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92299,97179,NaN,NaN,NaN,NaN,205245.0,NaN,NaN,NaN,NaN
9041,436453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93804,2891817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44733,214035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61307,2597585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
74324,2756842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99289,3219532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1202,2123656,NaN,NaN,NaN,NaN,NaN,205245.0,NaN,NaN,NaN
72137,2255045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61913,674453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47933,1807344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63003,678779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19201,60400,NaN,NaN,NaN,NaN,205245.0,NaN,NaN,NaN,NaN
26299,3601714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94411,3522676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22940,419616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33274,287186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,205245.0,NaN
72486,3174998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23285,21989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,205245.0,NaN
87276,3185259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51885,2168398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32045,2790632,NaN,NaN,NaN,NaN,NaN,NaN,205245.0,NaN,NaN
54259,797846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9754,2694655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96251,215915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34855,1547275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65006,2434145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57032,3671664,NaN,NaN,NaN,NaN,205245.0,NaN,NaN,NaN,NaN
53674,2610366,NaN,NaN,NaN,NaN,NaN,NaN,205245.0,NaN,NaN
23885,2803471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8511,1752443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81987,897795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4873,1996942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8186,195774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4457,3620450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
IX_items, IX_tgt_items, IX_tgt_playlists, IX_attr = rs.create_sparse_indexes(tracks_info=tr_info_fixed, tracks_reduced=tgt_tracks, attr_list=attributes)
print(IX_items)
print(IX_tgt_items)
print(IX_tgt_playlists)
print(IX_attr)

190289        0
2121734       1
3783220       2
3362029       3
3870449       4
2957114       5
608708        6
1218133       7
45234         8
1275962       9
3003333      10
3173002      11
1729619      12
190397       13
1702866      14
352435       15
1154967      16
564251       17
1627050      18
3858140      19
1576670      20
266002       21
3275087      22
3072615      23
2063847      24
97179        25
436453       26
2891817      27
214035       28
2597585      29
           ...
2756842    4970
3219532    4971
2123656    4972
2255045    4973
674453     4974
1807344    4975
678779     4976
60400      4977
3601714    4978
3522676    4979
419616     4980
287186     4981
3174998    4982
21989      4983
3185259    4984
2168398    4985
2790632    4986
797846     4987
2694655    4988
215915     4989
1547275    4990
2434145    4991
3671664    4992
2610366    4993
2803471    4994
1752443    4995
897795     4996
1996942    4997
195774     4998
3620450    4999
Length: 5000, dtype: int64
2975516      0
2146830      1
1584240      2
3005492      3
22480        4
220082       5
290849       6
436453       7
1523285      8
3846669      9
1885521     10
2067756     11
2483925     12
88403       13
2859364     14
3647261     15
1185658     16
2985841     17
2377890     18
2788426     19
2401245     20
1510424     21
329741      22
3231223     23
871858      24
1374934     25
904737      26
608795      27
3492796     28
3014232     29
          ...
2491457    316
1480740    317
2876299    318
3382218    319
2587871    320
1336998    321
506061     322
1244149    323
560910     324
463772     325
2820243    326
3103169    327
448230     328
1998617    329
2378652    330
2420781    331
2041957    332
2047628    333
2557730    334
3462720    335
1445410    336
3543380    337
3137064    338
1858575    339
166582     340
3663216    341
1879003    342
896867     343
1885513    344
3841482    345
Length: 346, dtype: int64
None
SparseIndexes(artist_id=Series([], dtype: float64), album=Series([], dtype: float64), playcount=Series([], dtype: float64), duration=Series([], dtype: float64), tags=205245.0    0
dtype: int64)

In [12]:
ICM = rs.create_ICM(tr_info_fixed, IX_items, IX_attr, attributes)
print(ICM)

  (0, 8)	1
  (0, 25)	1
  (0, 65)	1
  (0, 66)	1
  (0, 71)	1
  (0, 107)	1
  (0, 118)	1
  (0, 140)	1
  (0, 153)	1
  (0, 178)	1
  (0, 219)	1
  (0, 220)	1
  (0, 224)	1
  (0, 243)	1
  (0, 271)	1
  (0, 335)	1
  (0, 386)	1
  (0, 401)	1
  (0, 403)	1
  (0, 406)	1
  (0, 414)	1
  (0, 424)	1
  (0, 432)	1
  (0, 439)	1
  (0, 441)	1
  :	:
  (0, 4511)	1
  (0, 4520)	1
  (0, 4525)	1
  (0, 4580)	1
  (0, 4583)	1
  (0, 4638)	1
  (0, 4651)	1
  (0, 4659)	1
  (0, 4668)	1
  (0, 4682)	1
  (0, 4699)	1
  (0, 4728)	1
  (0, 4766)	1
  (0, 4772)	1
  (0, 4801)	1
  (0, 4816)	1
  (0, 4817)	1
  (0, 4839)	1
  (0, 4883)	1
  (0, 4904)	1
  (0, 4917)	1
  (0, 4933)	1
  (0, 4935)	1
  (0, 4962)	1
  (0, 4968)	1

In [13]:
print(ICM.tocsc()[:,999])

In [14]:
print(IX_items.index[IX_items == 999])
print(IX_attr.artist_id.index[IX_attr.artist_id == 902])
print(IX_attr.album.index[IX_attr.album == 4101])
print(IX_attr.playcount.index[IX_attr.playcount == 6674])
print(IX_attr.duration.index[IX_attr.duration == 6674])
print(IX_attr.tags.index[IX_attr.tags.isin([7721, 7936, 8604, 9340, 10612])])

Int64Index([3349672], dtype='int64')
Float64Index([], dtype='float64')
Float64Index([], dtype='float64')
Float64Index([], dtype='float64')
Float64Index([], dtype='float64')
Float64Index([], dtype='float64')

In [15]:
tr_info_fixed[tr_info_fixed['track_id'].isin(IX_items.index[IX_items == 999])]

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
20466,3349672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#if n_min_attr >= 2:
#        rs.prune_useless(ICM, n_min_attr)
print(ICM)

  (0, 3)	1
  (0, 8)	1
  (0, 18)	1
  (0, 19)	1
  (0, 25)	1
  (0, 30)	1
  (0, 37)	1
  (0, 38)	1
  (0, 39)	1
  (0, 40)	1
  (0, 41)	1
  (0, 44)	1
  (0, 45)	1
  (0, 48)	1
  (0, 65)	1
  (0, 66)	1
  (0, 71)	1
  (0, 89)	1
  (0, 90)	1
  (0, 92)	1
  (0, 98)	1
  (0, 100)	1
  (0, 101)	1
  (0, 106)	1
  (0, 107)	1
  :	:
  (0, 4917)	1
  (0, 4923)	1
  (0, 4925)	1
  (0, 4928)	1
  (0, 4929)	1
  (0, 4930)	1
  (0, 4933)	1
  (0, 4935)	1
  (0, 4944)	1
  (0, 4949)	1
  (0, 4951)	1
  (0, 4952)	1
  (0, 4953)	1
  (0, 4955)	1
  (0, 4956)	1
  (0, 4962)	1
  (0, 4964)	1
  (0, 4968)	1
  (0, 4972)	1
  (0, 4977)	1
  (0, 4981)	1
  (0, 4983)	1
  (0, 4986)	1
  (0, 4992)	1
  (0, 4993)	1

In [17]:
S = rs.create_Smatrix(ICM, n_el_sim, measure, shrinkage, IX_tgt_items, IX_items)
print(S)

Computed 0 similarities over 5000 with dot measure and 0 shrinkage.
Computed 1000 similarities over 5000 with dot measure and 0 shrinkage.
Computed 2000 similarities over 5000 with dot measure and 0 shrinkage.
Computed 3000 similarities over 5000 with dot measure and 0 shrinkage.
Computed 4000 similarities over 5000 with dot measure and 0 shrinkage.
  (0, 127)	0.0
  (0, 126)	0.0
  (0, 125)	0.0
  (0, 124)	0.0
  (0, 123)	0.0
  (0, 122)	0.0
  (0, 121)	0.0
  (0, 120)	0.0
  (0, 108)	0.0
  (0, 119)	0.0
  (0, 117)	0.0
  (0, 116)	0.0
  (0, 115)	0.0
  (0, 114)	0.0
  (0, 113)	0.0
  (0, 112)	0.0
  (0, 111)	0.0
  (0, 110)	0.0
  (0, 118)	0.0
  (0, 345)	0.0
  (1, 127)	0.0
  (1, 126)	0.0
  (1, 125)	0.0
  (1, 124)	0.0
  (1, 123)	0.0
  :	:
  (4998, 112)	0.0
  (4998, 111)	0.0
  (4998, 110)	0.0
  (4998, 118)	0.0
  (4998, 345)	0.0
  (4999, 127)	0.0
  (4999, 126)	0.0
  (4999, 125)	0.0
  (4999, 124)	0.0
  (4999, 123)	0.0
  (4999, 122)	0.0
  (4999, 121)	0.0
  (4999, 120)	0.0
  (4999, 108)	0.0
  (4999, 119)	0.0
  (4999, 117)	0.0
  (4999, 116)	0.0
  (4999, 115)	0.0
  (4999, 114)	0.0
  (4999, 113)	0.0
  (4999, 112)	0.0
  (4999, 111)	0.0
  (4999, 110)	0.0
  (4999, 118)	0.0
  (4999, 345)	0.0

In [18]:
print(S.tocsr()[567,:])

  (0, 62)	1.0
  (0, 69)	1.0
  (0, 83)	1.0
  (0, 84)	1.0
  (0, 86)	1.0
  (0, 88)	1.0
  (0, 89)	1.0
  (0, 91)	1.0
  (0, 92)	1.0
  (0, 93)	1.0
  (0, 94)	1.0
  (0, 95)	1.0
  (0, 196)	1.0
  (0, 202)	1.0
  (0, 203)	1.0
  (0, 204)	1.0
  (0, 205)	1.0
  (0, 206)	1.0
  (0, 207)	1.0
  (0, 212)	1.0

In [19]:
tr_info_fixed[tr_info_fixed['track_id'].isin(IX_items.index[IX_items == 567])]

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
97527,89213,NaN,NaN,NaN,NaN,205245.0,NaN,NaN,NaN,NaN

In [20]:
tr_info_fixed[tr_info_fixed['track_id'].isin(IX_tgt_items.index[IX_tgt_items == 303])]

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
41189,3550491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
aux1, aux2, IX_tgt_playlists, aux3 = rs.create_sparse_indexes(playlists=tgt_playlists)
print(aux1)
print(aux2)
print(IX_tgt_playlists)
print(aux3)

None
None
7670304      0
7559928      1
7623847      2
11490052     3
44442        4
5896390      5
7751126      6
4916097      7
11266592     8
3510855      9
3167809     10
3841665     11
7656514     12
11400914    13
6364732     14
7069134     15
10831627    16
61413       17
8709232     18
7452956     19
3611013     20
6132763     21
3091337     22
6571192     23
5778535     24
8258539     25
10757724    26
2899769     27
7039000     28
8503661     29
            ..
10729751    54
10178398    55
5080355     56
10999059    57
5950577     58
7397758     59
3053437     60
7541410     61
4150008     62
10212684    63
261823      64
3874112     65
6159690     66
10759325    67
8357862     68
4443682     69
3700731     70
5850400     71
814547      72
6571398     73
6834071     74
10142322    75
5782816     76
3573226     77
4349961     78
11525473    79
7075085     80
4906906     81
5446100     82
1064306     83
Length: 84, dtype: int64
None

In [22]:
URM = rs.create_tgt_URM(IX_tgt_playlists, IX_items, train)
URM = URM.tocsr()
print(URM)

Calculated 0 users ratings over 84
  (0, 1038)	1
  (0, 3596)	1
  (0, 3615)	1
  (0, 4380)	1
  (0, 4386)	1
  (1, 568)	1
  (1, 1964)	1
  (1, 2263)	1
  (1, 3653)	1
  (1, 4353)	1
  (2, 63)	1
  (2, 283)	1
  (2, 780)	1
  (2, 1951)	1
  (2, 2034)	1
  (2, 4162)	1
  (2, 4351)	1
  (3, 697)	1
  (3, 1840)	1
  (3, 2270)	1
  (3, 2697)	1
  (3, 3525)	1
  (3, 4917)	1
  (4, 2302)	1
  (4, 2840)	1
  :	:
  (80, 1517)	1
  (80, 3150)	1
  (80, 3578)	1
  (80, 3936)	1
  (80, 4060)	1
  (81, 323)	1
  (81, 1468)	1
  (81, 3976)	1
  (81, 4449)	1
  (81, 4474)	1
  (82, 1937)	1
  (82, 2291)	1
  (82, 3066)	1
  (82, 3525)	1
  (82, 3759)	1
  (82, 3872)	1
  (82, 4028)	1
  (82, 4091)	1
  (83, 209)	1
  (83, 1395)	1
  (83, 2516)	1
  (83, 2853)	1
  (83, 3110)	1
  (83, 3217)	1
  (83, 3798)	1

In [23]:
print(URM[0,:])

  (0, 1038)	1
  (0, 3596)	1
  (0, 3615)	1
  (0, 4380)	1
  (0, 4386)	1

In [24]:
IX_items.index[IX_items == 1378]

Int64Index([938435], dtype='int64')

In [25]:
train[train['playlist_id'].isin(IX_tgt_playlists.index[IX_tgt_playlists == 0])]

        playlist_id  track_id
83201       7670304   2765601
123446      7670304   3338219
151856      7670304   3590649
398471      7670304   1042548
474124      7670304   2277545

In [26]:
recommendetions = np.array([])
for p in IX_tgt_playlists.values:
            avg_sims = URM[p,:].dot(S).toarray().ravel()
            top = rs.top5_outside_playlist(avg_sims, p, train, IX_tgt_playlists, IX_tgt_items)
            recommendetions = np.append(recommendetions, rs.sub_format(top))
            if (p % 1000 == 0):
                print('Recommended ' + str(p) + ' users over ' + str(IX_tgt_playlists.values.shape[0]))
print(recommendetions.shape[0])
print(tgt_playlists['playlist_id'].shape[0])
print(IX_tgt_playlists.shape[0])
#recs = pd.DataFrame(data=np.array([tgt_pl_reduced['playlist_id'], recommendetions]).transpose() , index=range(IX_tgt_playlists.shape[0]), columns=['playlist_id', 'track_ids'])
recs = pd.DataFrame({'playlist_id' : IX_tgt_playlists.index.values, 'track_ids' : recommendetions})
recs

Recommended 0 users over 84
84
84
84

    playlist_id                                track_ids
0       7670304   2136267 3705881 2146276 858300 2720582
1       7559928  3841482 3390036 2719146 2249460 1953545
2       7623847  3841482 3390036 2719146 2249460 1953545
3      11490052   2136267 3705881 2146276 858300 2720582
4         44442  3841482 3390036 2719146 2249460 1953545
5       5896390   2136267 3705881 2146276 858300 2720582
6       7751126   2136267 3705881 2146276 858300 2720582
7       4916097   2136267 3705881 2146276 858300 2720582
8      11266592   2136267 3705881 2146276 858300 2720582
9       3510855   2226064 1181241 2800115 397730 1295096
10      3167809   2136267 1570986 858300 3705881 2720582
11      3841665   2136267 3705881 2146276 858300 2720582
12      7656514   2136267 3705881 2146276 858300 2720582
13     11400914   2136267 3705881 2146276 858300 2720582
14      6364732   2226064 1181241 2800115 397730 1295096
15      7069134   2226064 3705881 858300 1570986 2720582
16     10831627   2136267 3705881 2146276 858300 2720582
17        61413   2136267 3705881 2146276 858300 2720582
18      8709232   2226064 1181241 2800115 397730 1295096
19      7452956   2226064 1181241 2800115 397730 2720582
20      3611013   2136267 3705881 2146276 858300 2720582
21      6132763   2136267 3705881 2146276 858300 2720582
22      3091337   2136267 3705881 2146276 858300 2720582
23      6571192   2136267 3705881 2146276 858300 2720582
24      5778535  3841482 3390036 2719146 2249460 1953545
25      8258539   2136267 3705881 2146276 858300 2720582
26     10757724   2136267 3705881 2146276 858300 2720582
27      2899769  3841482 3390036 2719146 2249460 1953545
28      7039000   2136267 3705881 2146276 858300 2720582
29      8503661  3841482 3390036 2719146 2249460 1953545
..          ...                                      ...
54     10729751   2226064 1181241 2800115 397730 1295096
55     10178398   2136267 3705881 2146276 858300 2720582
56      5080355   2136267 3705881 2146276 858300 2720582
57     10999059   2136267 3705881 2146276 858300 2720582
58      5950577   2136267 3705881 2146276 858300 2720582
59      7397758   2136267 3705881 2146276 858300 2720582
60      3053437   2684386 2290037 1206974 397730 1295096
61      7541410   2136267 3705881 2146276 858300 2720582
62      4150008   2136267 3705881 2146276 858300 2720582
63     10212684   2136267 3705881 2146276 858300 2720582
64       261823   2136267 3705881 2146276 858300 2720582
65      3874112  3841482 3390036 2719146 2249460 1953545
66      6159690   2226064 1181241 2800115 397730 1295096
67     10759325   2136267 3705881 2146276 858300 2720582
68      8357862  3841482 3390036 2719146 2249460 1953545
69      4443682   2226064 3705881 858300 1570986 2720582
70      3700731  3841482 3390036 2719146 2249460 1953545
71      5850400   2136267 3705881 2146276 858300 2720582
72       814547   2136267 3705881 2146276 858300 2720582
73      6571398   2136267 3705881 2146276 858300 2720582
74      6834071   2136267 3705881 2146276 858300 2720582
75     10142322   2136267 3705881 2146276 858300 2720582
76      5782816   2136267 3705881 2146276 858300 2720582
77      3573226   2226064 1181241 2800115 397730 1295096
78      4349961   2226064 3705881 858300 1570986 2720582
79     11525473   2136267 3705881 2146276 858300 2720582
80      7075085   2136267 3705881 2146276 858300 2720582
81      4906906   2136267 3705881 2146276 858300 2720582
82      5446100   2136267 3705881 2146276 858300 2720582
83      1064306   2136267 3705881 2146276 858300 2720582

[84 rows x 2 columns]

In [27]:
train[train['playlist_id'] == 7670304]

        playlist_id  track_id
83201       7670304   2765601
123446      7670304   3338219
151856      7670304   3590649
398471      7670304   1042548
474124      7670304   2277545

In [28]:
print(IX_tgt_items.loc[[3078945, 113603, 2378652, 3261289, 1730098]])
print(IX_items.loc[[2765601, 3338219, 1137264, 1295096, 2277545]])

3078945      NaN
113603       NaN
2378652    330.0
3261289      NaN
1730098      NaN
dtype: float64
2765601    3615
3338219    3596
1137264     756
1295096    2173
2277545    4386
dtype: int64

In [29]:
print(S.tocsc()[3615, [73,296,71,151,273]])
print('\n')
print(S.tocsc()[3615, :])
print('\n')
print(S.tocsc()[3596, [73,296,71,151,273]])
print('\n')
print(S.tocsc()[3596, :])
print('\n')
print(S.tocsc()[756, [73,296,71,151,273]])
print('\n')
print(S.tocsc()[756, :])
print('\n')
print(S.tocsc()[2173, [73,296,71,151,273]])
print('\n')
print(S.tocsc()[2173, :])
print('\n')
print(S.tocsc()[4386, [73,296,71,151,273]])
print('\n')
print(S.tocsc()[4386, :])

  (0, 108)	0.0
  (0, 110)	0.0
  (0, 111)	0.0
  (0, 112)	0.0
  (0, 113)	0.0
  (0, 114)	0.0
  (0, 115)	0.0
  (0, 116)	0.0
  (0, 117)	0.0
  (0, 118)	0.0
  (0, 119)	0.0
  (0, 120)	0.0
  (0, 121)	0.0
  (0, 122)	0.0
  (0, 123)	0.0
  (0, 124)	0.0
  (0, 125)	0.0
  (0, 126)	0.0
  (0, 127)	0.0
  (0, 345)	0.0





  (0, 108)	0.0
  (0, 110)	0.0
  (0, 111)	0.0
  (0, 112)	0.0
  (0, 113)	0.0
  (0, 114)	0.0
  (0, 115)	0.0
  (0, 116)	0.0
  (0, 117)	0.0
  (0, 118)	0.0
  (0, 119)	0.0
  (0, 120)	0.0
  (0, 121)	0.0
  (0, 122)	0.0
  (0, 123)	0.0
  (0, 124)	0.0
  (0, 125)	0.0
  (0, 126)	0.0
  (0, 127)	0.0
  (0, 345)	0.0





  (0, 62)	1.0
  (0, 69)	1.0
  (0, 83)	1.0
  (0, 84)	1.0
  (0, 86)	1.0
  (0, 88)	1.0
  (0, 89)	1.0
  (0, 91)	1.0
  (0, 92)	1.0
  (0, 93)	1.0
  (0, 94)	1.0
  (0, 95)	1.0
  (0, 196)	1.0
  (0, 202)	1.0
  (0, 203)	1.0
  (0, 204)	1.0
  (0, 205)	1.0
  (0, 206)	1.0
  (0, 207)	1.0
  (0, 212)	1.0





  (0, 62)	1.0
  (0, 69)	1.0
  (0, 83)	1.0
  (0, 84)	1.0
  (0, 86)	1.0
  (0, 88)	1.0
  (0, 89)	1.0
  (0, 91)	1.0
  (0, 92)	1.0
  (0, 93)	1.0
  (0, 94)	1.0
  (0, 95)	1.0
  (0, 196)	1.0
  (0, 202)	1.0
  (0, 203)	1.0
  (0, 204)	1.0
  (0, 205)	1.0
  (0, 206)	1.0
  (0, 207)	1.0
  (0, 212)	1.0





  (0, 108)	0.0
  (0, 110)	0.0
  (0, 111)	0.0
  (0, 112)	0.0
  (0, 113)	0.0
  (0, 114)	0.0
  (0, 115)	0.0
  (0, 116)	0.0
  (0, 117)	0.0
  (0, 118)	0.0
  (0, 119)	0.0
  (0, 120)	0.0
  (0, 121)	0.0
  (0, 122)	0.0
  (0, 123)	0.0
  (0, 124)	0.0
  (0, 125)	0.0
  (0, 126)	0.0
  (0, 127)	0.0
  (0, 345)	0.0

In [30]:
map_eval = rs.evaluate(recs, test, 'MAP')
map_eval

Calculated AP for playlist #0

0.013015873015873015

In [31]:
IX_tgt_playlists

7670304      0
7559928      1
7623847      2
11490052     3
44442        4
5896390      5
7751126      6
4916097      7
11266592     8
3510855      9
3167809     10
3841665     11
7656514     12
11400914    13
6364732     14
7069134     15
10831627    16
61413       17
8709232     18
7452956     19
3611013     20
6132763     21
3091337     22
6571192     23
5778535     24
8258539     25
10757724    26
2899769     27
7039000     28
8503661     29
            ..
10729751    54
10178398    55
5080355     56
10999059    57
5950577     58
7397758     59
3053437     60
7541410     61
4150008     62
10212684    63
261823      64
3874112     65
6159690     66
10759325    67
8357862     68
4443682     69
3700731     70
5850400     71
814547      72
6571398     73
6834071     74
10142322    75
5782816     76
3573226     77
4349961     78
11525473    79
7075085     80
4906906     81
5446100     82
1064306     83
Length: 84, dtype: int64

In [32]:
tgt_playlists

    playlist_id
0       7670304
1       7559928
2       7623847
3      11490052
4         44442
5       5896390
6       7751126
7       4916097
8      11266592
9       3510855
10      3167809
11      3841665
12      7656514
13     11400914
14      6364732
15      7069134
16     10831627
17        61413
18      8709232
19      7452956
20      3611013
21      6132763
22      3091337
23      6571192
24      5778535
25      8258539
26     10757724
27      2899769
28      7039000
29      8503661
..          ...
54     10729751
55     10178398
56      5080355
57     10999059
58      5950577
59      7397758
60      3053437
61      7541410
62      4150008
63     10212684
64       261823
65      3874112
66      6159690
67     10759325
68      8357862
69      4443682
70      3700731
71      5850400
72       814547
73      6571398
74      6834071
75     10142322
76      5782816
77      3573226
78      4349961
79     11525473
80      7075085
81      4906906
82      5446100
83      1064306

[84 rows x 1 columns]

In [33]:
np.array_equal(IX_items.index.values, tr_info_reduced['track_id'])

True

In [34]:
pd.Series(tr_info_fixed[['tag' + str(i) for i in range(1,6)]].values.ravel('F')).value_counts()

205245.0    1343
dtype: int64

In [39]:
import json
with open('runs_data.json', 'w') as fp:
    fp.write("{}\n".format(json.dumps({'ciao' : 'ciaociao'})))