In [1]:
import numpy as np
import pandas as pd
import recsys as rs
import random
random.seed(2517)

In [2]:
train = pd.read_csv('Data/train_final.csv','\t')
tr_info = pd.read_csv('Data/tracks_final.csv','\t')
tgt_pl = pd.read_csv('Data/target_playlists.csv','\t')
tgt_tr = pd.read_csv('Data/target_tracks.csv','\t')
attributes = ['artist_id', 'album', 'tags', 'playcount', 'duration']
n_min_attr = 5
n_el_sim = 20
measure = 'dot'
shrinkage = 0

In [51]:
n_track_counts = train_reduced['playlist_id'].value_counts()
big_T = n_track_counts[n_track_counts >= 10].index.values
big_T

array([4532897, 7931592])

In [ ]:
test_pl = pd.DataFrame({"playlist_id": list(map(lambda x: random.choice(big_target_playlist), range(100)))})

In [ ]:
tracks_in_test_pl = pd.merge(train_reduced, test_pl, how='inner', on='playlist_id')
tracks_removed= pd.DataFrame(columns=['playlist_id', 'track_id'], dtype='int32')
indexes_to_remove= np.array([], dtype='int32')
for i in tracks_in_test_pl['playlist_id'].unique():
    #randomly selects 5 elements from playlist i and save indexes
    tmp = (tracks_in_test_pl.where(tracks_in_test_pl['playlist_id']==i).dropna().sample(5)).index
    #insert the items selected in tracks_removed dataFrame
    tracks_removed= tracks_removed.append(tracks_in_test_pl.take(tmp)).astype('int64')
    #remove tracks from the original dataframe
    indexes_to_remove=np.append(indexes_to_remove, values=tmp)

tracks_in_train= pd.DataFrame(tracks_in_test_pl)
tracks_in_train.drop(indexes_to_remove, inplace=True)

In [ ]:
tgt_test_tracks= pd.DataFrame(tracks_in_test_pl['track_id'])
tgt_test_tracks = pd.DataFrame.drop_duplicates(tgt_test_tracks)

In [4]:
train_reduced = train[train['track_id'].isin(tr_info_reduced['track_id'].values)]
train_reduced

         playlist_id  track_id
32           8711616   1507344
108          5967886    543519
234          3460756   1136297
270          3756557   3351099
434          8517687   1715293
436          4247134    824691
461          7700272   2995242
507          1736357   2668204
549            54203   2121734
694          6372933   3756986
868          8590868   2831698
906            99527   1064541
946          6446359   2369248
1158         5950577   2910342
1161        10031520    585965
1737         5095284   3351099
1947         8942897   1121125
1959         2642646   2367877
1991         8606221   1337318
2142         6206221   2419229
2285        10878867    512781
2288         4053152    189530
2319         2937396   1137264
2430        10484719   2929194
2440         3884384   1702710
2461          150350    682246
2587         5015255   2119739
2748         8392161   2234665
2965         7121200   2535373
3071         2363183   2378652
...              ...       ...
1038005      8037491   1050164
1038019      7180682   1292061
1038143      5209535   3366189
1038278     11185980   2293505
1038460      5442359   2720582
1038503      2949480   2002828
1038515      5451745     49898
1038642      8451449   1181241
1038663      4475733   1632137
1038828      5133179    614436
1038982     10759873    543519
1039107      8361682   3241434
1039267      3463599   3176563
1039270      6089105    376214
1039286      7145669    209196
1039332      5656680   2110184
1039454     10875355   2391770
1039484      6289744   3103440
1039620      4651879   2881150
1039669      3070664   1609918
1039681      6204238    512533
1039742      8118098   2720582
1039883      4602507   2803652
1040123      7182357   3406703
1040336       588778   2788426
1040379      1018282   3567705
1040388      2367322   1155078
1040397      6641337   1907169
1040405      7542164   2902989
1040443     10569085    337652

[10642 rows x 2 columns]

In [5]:
tgt_pl_reduced = tgt_pl[tgt_pl['playlist_id'].isin(train_reduced['playlist_id'].values)]
tgt_pl_reduced

      playlist_id
0        10024884
3         4267369
4           65078
10       10138804
14        6299524
18       11295404
25        4157419
27        1911645
29        1140304
30        4310448
31        4874293
40        5903309
43        1072577
44        5047826
45        5241540
53        4743330
55       10985037
56        3755267
58        8426989
59          82847
68        4192208
69        8830133
71        4526137
72         970740
74        5742191
77        7096673
78        6890734
80        3560810
94        4107298
96        7947658
...           ...
9882      6870281
9884     10878867
9886     10135568
9888      7362350
9889      4332380
9890      6096241
9891      2602631
9896      8851585
9900      7245245
9902      7739410
9908     10298734
9919      4144707
9925      3777540
9926      1615800
9929     10583362
9933      6819102
9937      3095662
9939      7899503
9945      5369008
9946      3818718
9955      5666859
9962      4185120
9963     10867617
9970     11381473
9974      8344678
9979      5903507
9984      8868869
9992     10337087
9997     11369546
9998      7939535

[2706 rows x 1 columns]

In [3]:
tr_info_reduced = tr_info.sample(n=1000, random_state=2517, axis=0)
tr_info_reduced

,track_id,artist_id,duration,playcount,album,tags
58953,190289,292479,195000,64.0,[134748],"[235879, 11056, 11374, 79716, 79259]"
45209,2121734,228815,306000,4328.0,[105362],"[61837, 70618, 70251, 115355, 175099]"
87223,3783220,418280,195000,23.0,[196282],"[122769, 117167, 123107, 68498, 31015]"
2934,3362029,19144,189000,1262.0,[None],"[190112, 205245, 11056, 81211, 11242]"
3174,3870449,20246,268000,351.0,[8670],"[228654, 189631, 11653, 81223, 228763]"
67666,2957114,337984,261000,874.0,[155561],"[31015, 31253, 100810, 31065, 81223]"
26733,608708,141098,336000,357.0,[62923],"[263180, 29723, 193238, 154891, 266785]"
54474,1218133,273056,353000,37.0,[None],"[201327, 207510, 66029, 121374, 201535]"
10620,45234,50659,270000,45.0,[25288],"[205245, 194264, 103394, 231854, 194413]"
3286,1275962,20847,191000,336.0,[8983],"[11056, 115752, 209678, 59632, 130293]"
53532,3003333,268739,268000,1227.0,[None],"[4425, 68498, 264053, 81223, 270182]"
58685,3173002,3808,315000,2641.0,[134123],"[70618, 5968, 64978, 255208, 142475]"
69566,1729619,346357,464000,772.0,[None],"[78511, 115859, 115871, 270105, 70625]"
28108,190397,147287,221000,46556.0,[66180],"[70618, 54087, 70625, 78105, 109806]"
38474,1702866,198247,205000,1.0,[91140],"[70625, 70618, 115355, 235879, 189631]"
50183,352435,252347,194000,175.0,[116081],"[186445, 48949, 11957, 168623, 48984]"
38510,1154967,198582,169000,25.0,[91315],"[115355, 70618, 81223, 204282, 70251]"
16913,564251,77884,261000,1799.0,[39473],"[189631, 54087, 29049, 81223, 138266]"
55138,1627050,276834,173000,13613.0,[127374],"[11242, 11056, 205245, 115355, 187594]"
11153,3858140,52124,289000,1236.0,[26276],"[115355, 115752, 11056, 205245, 35060]"
54219,1576670,271661,308000,1399.0,[124857],"[76913, 191177, 19500, 170251, 232629]"
9245,266002,44153,270000,38.0,[None],"[11412, 84911, 84913, 25675, 2370]"
36521,3275087,188004,280000,1.0,[86554],"[70618, 70251, 134224, 134139, 237214]"
53598,3072615,269036,420000,349.0,[123588],"[122769, 49397, 211809, 117167, 221703]"
26644,2063847,140754,229000,1163.0,[62822],"[97480, 92799, 169455, 70625, 70618]"
92299,97179,450200,334000,5292.0,[208773],"[205245, 124164, 215342, 142475, 218701]"
9041,436453,43620,229000,594.0,[21327],"[115355, 11056, 1538, 1494, 238317]"
93804,2891817,456920,1082000,439.0,[212334],"[31015, 20000, 46208, 31252, 31256]"
44733,214035,227439,309000,4380.0,[104612],"[256796, 233566, 271235, 43212, 16041]"
61307,2597585,307301,183000,1332.0,[None],"[235879, 21937, 153933, 75753, 75702]"
...,...,...,...,...,...,...
72801,1253214,101699,367000,1576.0,[None],"[194413, 205245, 194264, 29284, 115355]"
41029,2857566,211274,226000,3.0,[97381],"[219398, 201327, 219564, 147123, 111567]"
33053,3626264,168852,348000,974.0,[77253],"[193269, 57528, 193395, 154891, 87197]"
30724,1167395,157361,439000,1465.0,[71257],"[122769, 156912, 123576, 256007, 86821]"
89788,345707,437738,343000,4479.0,[None],"[46208, 84217, 3082, 117167, 232628]"
21657,933335,109301,271000,5.0,[49712],"[70618, 70625, 115355, 254379, 233847]"
21476,1885606,108734,125000,931.0,[49341],"[115752, 54476, 115355, 205245, 73011]"
36195,89202,185304,351000,1.0,[85373],"[84835, 82929, 154891, 191642, 78695]"
62837,1140768,314940,77000,4545.0,[None],[235198]
19539,1830315,87810,184000,7797.0,[44553],"[115684, 115355, 142475, 189631, 76913]"
70294,295208,18326,256000,1390.0,[None],"[205245, 72354, 190049, 11056, 241571]"
26626,2944743,140693,208000,503.0,[None],"[227740, 227682, 117167, 103608, 119494]"
73518,509275,355947,185000,8634.0,[165687],"[70618, 115355, 54087, 170251, 70625]"
54292,492379,272420,216000,3494.0,[None],"[115355, 115684, 235879, 190255, 189631]"
24413,1881931,126872,583000,861.0,[56974],"[11957, 227740, 122106, 117167, 70618]"
16210,2367517,75117,419000,399.0,[38250],"[116047, 55448, 70618, 11056, 97480]"
32481,3471722,166755,636000,3093.0,[75852],"[45739, 207707, 179614, 119416, 46708]"
21003,1613642,106550,246000,254.0,[48141],"[50247, 56518, 201037, 79259, 169644]"
75250,2586479,361644,221000,2.0,[169336],"[24358, 115355, 52905, 195173, 120484]"
88811,2495836,432013,319000,1956.0,[None],"[66324, 141073, 63142, 258072, 106822]"
67596,1313769,337793,187000,281.0,[155436],"[235879, 115355, 115684, 189631, 141297]"
41764,3701381,214427,241000,633.0,[None],"[189631, 81223, 149218, 50604, 81211]"
81644,491629,386651,257000,1185.0,[183070],"[46208, 103394, 205245, 3668, 228372]"
25504,719250,75306,230000,1107.0,[61069],"[122769, 81223, 31015, 3188, 236483]"
16039,603500,74392,253000,2391.0,[37793],"[3982, 205245, 191542, 60654, 16233]"
43096,2948381,219411,453000,5.0,[100990],"[11957, 140071, 70618, 152567, 58027]"
90425,1905747,440912,268000,1661.0,[204634],"[226723, 81223, 168892, 115244, 144192]"
6462,3365224,32613,238000,864.0,[None],"[190991, 154941, 212982, 70618, 70362]"
28333,1765053,148233,253000,5868.0,[66681],"[186445, 223136, 117167, 153432, 153101]"
20466,3349672,104658,475000,2886.0,[47035],"[157349, 239339, 58174, 70251, 109806]"

In [6]:
tgt_tr_reduced = tgt_tr[tgt_tr['track_id'].isin(train_reduced['track_id'].values)]
tgt_tr_reduced

       track_id
18        66103
169     1244158
250     3174792
348      614436
370     2876299
392      193154
424     2862458
442     2053347
536     3215172
690     2882283
919      956908
927      658167
968     1445410
1008    3389825
1354    1336998
1408    3720234
1440     281865
1714    2181317
1841    1155078
1878    3103440
1986     649723
2041    2542790
2046    2486964
2116    2189424
2444     376214
2492    3241434
2497    3096883
2623    2959004
2789    2720582
2857     119307
...         ...
29761    225685
29784    867355
29795   2125530
30194   3704005
30260   2595495
30299    234527
30412   2533659
30425   2225593
30431   2241010
30592    512781
30632    644382
30660   3800797
30729   2134698
30796    162055
30877   2623603
30910   2949604
31096    649998
31216    802019
31301   2434335
31515    319613
31545    405987
31552   2202932
31774   3191361
31816   3365224
31824    193976
31832    683476
31911   1702710
32015   1963310
32184   3209846
32194   2265463

[325 rows x 1 columns]

In [7]:
tr_info_fixed = rs.fix_tracks_format(tr_info_reduced)
tr_info_fixed

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
58953,190289,292479,NaN,NaN,134748.0,235879.0,11056.0,11374.0,79716.0,79259.0
45209,2121734,228815,NaN,NaN,105362.0,61837.0,70618.0,70251.0,115355.0,175099.0
87223,3783220,418280,NaN,NaN,196282.0,122769.0,117167.0,123107.0,68498.0,31015.0
2934,3362029,19144,NaN,NaN,NaN,190112.0,205245.0,11056.0,81211.0,11242.0
3174,3870449,20246,NaN,NaN,8670.0,228654.0,189631.0,11653.0,81223.0,228763.0
67666,2957114,337984,NaN,NaN,155561.0,31015.0,31253.0,100810.0,31065.0,81223.0
26733,608708,141098,NaN,NaN,62923.0,263180.0,29723.0,193238.0,154891.0,266785.0
54474,1218133,273056,1.0,NaN,NaN,201327.0,207510.0,66029.0,121374.0,201535.0
10620,45234,50659,NaN,NaN,25288.0,205245.0,194264.0,103394.0,231854.0,194413.0
3286,1275962,20847,NaN,NaN,8983.0,11056.0,115752.0,209678.0,59632.0,130293.0
53532,3003333,268739,NaN,NaN,NaN,4425.0,68498.0,264053.0,81223.0,270182.0
58685,3173002,3808,NaN,NaN,134123.0,70618.0,5968.0,64978.0,255208.0,142475.0
69566,1729619,346357,1.0,NaN,NaN,78511.0,115859.0,115871.0,270105.0,70625.0
28108,190397,147287,NaN,1.0,66180.0,70618.0,54087.0,70625.0,78105.0,109806.0
38474,1702866,198247,NaN,NaN,91140.0,70625.0,70618.0,115355.0,235879.0,189631.0
50183,352435,252347,NaN,NaN,116081.0,186445.0,48949.0,11957.0,168623.0,48984.0
38510,1154967,198582,NaN,NaN,91315.0,115355.0,70618.0,81223.0,204282.0,70251.0
16913,564251,77884,NaN,NaN,39473.0,189631.0,54087.0,29049.0,81223.0,138266.0
55138,1627050,276834,NaN,1.0,127374.0,11242.0,11056.0,205245.0,115355.0,187594.0
11153,3858140,52124,NaN,NaN,26276.0,115355.0,115752.0,11056.0,205245.0,35060.0
54219,1576670,271661,NaN,NaN,124857.0,76913.0,191177.0,19500.0,170251.0,232629.0
9245,266002,44153,NaN,NaN,NaN,11412.0,84911.0,84913.0,25675.0,2370.0
36521,3275087,188004,NaN,NaN,86554.0,70618.0,70251.0,134224.0,134139.0,237214.0
53598,3072615,269036,1.0,NaN,123588.0,122769.0,49397.0,211809.0,117167.0,221703.0
26644,2063847,140754,NaN,NaN,62822.0,97480.0,92799.0,169455.0,70625.0,70618.0
92299,97179,450200,NaN,NaN,208773.0,205245.0,124164.0,215342.0,142475.0,218701.0
9041,436453,43620,NaN,NaN,21327.0,115355.0,11056.0,1538.0,1494.0,238317.0
93804,2891817,456920,1.0,NaN,212334.0,31015.0,20000.0,46208.0,31252.0,31256.0
44733,214035,227439,NaN,NaN,104612.0,256796.0,233566.0,271235.0,43212.0,16041.0
61307,2597585,307301,NaN,NaN,NaN,235879.0,21937.0,153933.0,75753.0,75702.0
...,...,...,...,...,...,...,...,...,...,...
72801,1253214,101699,1.0,NaN,NaN,194413.0,205245.0,194264.0,29284.0,115355.0
41029,2857566,211274,NaN,NaN,97381.0,219398.0,201327.0,219564.0,147123.0,111567.0
33053,3626264,168852,1.0,NaN,77253.0,193269.0,57528.0,193395.0,154891.0,87197.0
30724,1167395,157361,1.0,NaN,71257.0,122769.0,156912.0,123576.0,256007.0,86821.0
89788,345707,437738,1.0,NaN,NaN,46208.0,84217.0,3082.0,117167.0,232628.0
21657,933335,109301,NaN,NaN,49712.0,70618.0,70625.0,115355.0,254379.0,233847.0
21476,1885606,108734,NaN,NaN,49341.0,115752.0,54476.0,115355.0,205245.0,73011.0
36195,89202,185304,1.0,NaN,85373.0,84835.0,82929.0,154891.0,191642.0,78695.0
62837,1140768,314940,NaN,NaN,NaN,235198.0,NaN,NaN,NaN,NaN
19539,1830315,87810,NaN,NaN,44553.0,115684.0,115355.0,142475.0,189631.0,76913.0
70294,295208,18326,NaN,NaN,NaN,205245.0,72354.0,190049.0,11056.0,241571.0
26626,2944743,140693,NaN,NaN,NaN,227740.0,227682.0,117167.0,103608.0,119494.0
73518,509275,355947,NaN,1.0,165687.0,70618.0,115355.0,54087.0,170251.0,70625.0
54292,492379,272420,NaN,NaN,NaN,115355.0,115684.0,235879.0,190255.0,189631.0
24413,1881931,126872,1.0,NaN,56974.0,11957.0,227740.0,122106.0,117167.0,70618.0
16210,2367517,75117,1.0,NaN,38250.0,116047.0,55448.0,70618.0,11056.0,97480.0
32481,3471722,166755,1.0,NaN,75852.0,45739.0,207707.0,179614.0,119416.0,46708.0
21003,1613642,106550,NaN,NaN,48141.0,50247.0,56518.0,201037.0,79259.0,169644.0
75250,2586479,361644,NaN,NaN,169336.0,24358.0,115355.0,52905.0,195173.0,120484.0
88811,2495836,432013,NaN,NaN,NaN,66324.0,141073.0,63142.0,258072.0,106822.0
67596,1313769,337793,NaN,NaN,155436.0,235879.0,115355.0,115684.0,189631.0,141297.0
41764,3701381,214427,NaN,NaN,NaN,189631.0,81223.0,149218.0,50604.0,81211.0
81644,491629,386651,NaN,NaN,183070.0,46208.0,103394.0,205245.0,3668.0,228372.0
25504,719250,75306,NaN,NaN,61069.0,122769.0,81223.0,31015.0,3188.0,236483.0
16039,603500,74392,NaN,NaN,37793.0,3982.0,205245.0,191542.0,60654.0,16233.0
43096,2948381,219411,1.0,NaN,100990.0,11957.0,140071.0,70618.0,152567.0,58027.0
90425,1905747,440912,NaN,NaN,204634.0,226723.0,81223.0,168892.0,115244.0,144192.0
6462,3365224,32613,NaN,NaN,NaN,190991.0,154941.0,212982.0,70618.0,70362.0
28333,1765053,148233,NaN,NaN,66681.0,186445.0,223136.0,117167.0,153432.0,153101.0
20466,3349672,104658,1.0,NaN,47035.0,157349.0,239339.0,58174.0,70251.0,109806.0

In [8]:
IX_items, IX_tgt_items, IX_tgt_playlists, IX_attr = rs.create_sparse_indexes(tracks_info=tr_info_fixed, tracks_reduced=tgt_tr_reduced, attr_list=attributes)
print(IX_items)
print(IX_tgt_items)
print(IX_tgt_playlists)
print(IX_attr)

190289       0
2121734      1
3783220      2
3362029      3
3870449      4
2957114      5
608708       6
1218133      7
45234        8
1275962      9
3003333     10
3173002     11
1729619     12
190397      13
1702866     14
352435      15
1154967     16
564251      17
1627050     18
3858140     19
1576670     20
266002      21
3275087     22
3072615     23
2063847     24
97179       25
436453      26
2891817     27
214035      28
2597585     29
          ...
1253214    970
2857566    971
3626264    972
1167395    973
345707     974
933335     975
1885606    976
89202      977
1140768    978
1830315    979
295208     980
2944743    981
509275     982
492379     983
1881931    984
2367517    985
3471722    986
1613642    987
2586479    988
2495836    989
1313769    990
3701381    991
491629     992
719250     993
603500     994
2948381    995
1905747    996
3365224    997
1765053    998
3349672    999
Length: 1000, dtype: int64
66103        0
1244158      1
3174792      2
614436       3
2876299      4
193154       5
2862458      6
2053347      7
3215172      8
2882283      9
956908      10
658167      11
1445410     12
3389825     13
1336998     14
3720234     15
281865      16
2181317     17
1155078     18
3103440     19
649723      20
2542790     21
2486964     22
2189424     23
376214      24
3241434     25
3096883     26
2959004     27
2720582     28
119307      29
          ...
225685     295
867355     296
2125530    297
3704005    298
2595495    299
234527     300
2533659    301
2225593    302
2241010    303
512781     304
644382     305
3800797    306
2134698    307
162055     308
2623603    309
2949604    310
649998     311
802019     312
2434335    313
319613     314
405987     315
2202932    316
3191361    317
3365224    318
193976     319
683476     320
1702710    321
1963310    322
3209846    323
2265463    324
Length: 325, dtype: int64
None
SparseIndexes(artist_id=292479      0
228815      1
418280      2
19144       3
20246       4
337984      5
141098      6
273056      7
50659       8
20847       9
268739     10
3808       11
346357     12
147287     13
198247     14
252347     15
198582     16
77884      17
276834     18
52124      19
271661     20
44153      21
188004     22
269036     23
140754     24
450200     25
43620      26
456920     27
227439     28
307301     29
         ...
163489    873
462361    874
101699    875
211274    876
168852    877
157361    878
437738    879
109301    880
108734    881
185304    882
314940    883
87810     884
355947    885
272420    886
126872    887
75117     888
166755    889
106550    890
361644    891
432013    892
337793    893
214427    894
386651    895
75306     896
74392     897
219411    898
440912    899
32613     900
148233    901
104658    902
Length: 903, dtype: int64, album=134748.0     903
105362.0     904
196282.0     905
8670.0       906
155561.0     907
62923.0      908
25288.0      909
8983.0       910
134123.0     911
66180.0      912
91140.0      913
116081.0     914
91315.0      915
39473.0      916
127374.0     917
26276.0      918
124857.0     919
86554.0      920
123588.0     921
62822.0      922
208773.0     923
21327.0      924
212334.0     925
104612.0     926
188606.0     927
187222.0     928
13069.0      929
16331.0      930
3500.0       931
198624.0     932
            ...
34470.0     1577
43505.0     1578
17170.0     1579
202105.0    1580
133949.0    1581
55757.0     1582
198506.0    1583
103013.0    1584
214939.0    1585
97381.0     1586
77253.0     1587
71257.0     1588
49712.0     1589
49341.0     1590
85373.0     1591
44553.0     1592
165687.0    1593
56974.0     1594
38250.0     1595
75852.0     1596
48141.0     1597
169336.0    1598
155436.0    1599
183070.0    1600
61069.0     1601
37793.0     1602
100990.0    1603
204634.0    1604
66681.0     1605
47035.0     1606
Length: 704, dtype: int64, playcount=1.0    1607
dtype: int64, duration=1.0    1608
dtype: int64, tags=51.0        1609
110.0       1610
249.0       1611
431.0       1612
444.0       1613
1075.0      1614
1113.0      1615
1117.0      1616
1164.0      1617
1183.0      1618
1198.0      1619
1203.0      1620
1250.0      1621
1277.0      1622
1280.0      1623
1377.0      1624
1470.0      1625
1494.0      1626
1538.0      1627
1574.0      1628
1625.0      1629
1655.0      1630
1683.0      1631
1757.0      1632
1799.0      1633
1825.0      1634
2249.0      1635
2370.0      1636
2424.0      1637
2652.0      1638
            ...
268433.0    2991
268872.0    2992
269707.0    2993
269840.0    2994
269884.0    2995
269990.0    2996
270105.0    2997
270125.0    2998
270182.0    2999
270297.0    3000
270345.0    3001
270354.0    3002
270543.0    3003
270566.0    3004
270846.0    3005
271235.0    3006
271370.0    3007
272145.0    3008
272151.0    3009
272406.0    3010
272573.0    3011
272598.0    3012
272987.0    3013
273079.0    3014
273245.0    3015
274432.0    3016
274514.0    3017
275410.0    3018
275420.0    3019
276204.0    3020
Length: 1412, dtype: int64)

In [9]:
ICM = rs.create_ICM(tr_info_fixed, IX_items, IX_attr, attributes)
print(ICM)

  (0, 0)	1
  (1, 1)	1
  (2, 2)	1
  (3, 3)	1
  (4, 4)	1
  (5, 5)	1
  (6, 6)	1
  (7, 7)	1
  (8, 8)	1
  (9, 9)	1
  (10, 10)	1
  (11, 11)	1
  (12, 12)	1
  (13, 13)	1
  (14, 14)	1
  (15, 15)	1
  (16, 16)	1
  (17, 17)	1
  (18, 18)	1
  (19, 19)	1
  (20, 20)	1
  (21, 21)	1
  (22, 22)	1
  (23, 23)	1
  (24, 24)	1
  :	:
  (2848, 974)	1
  (2856, 975)	1
  (2029, 976)	1
  (2059, 977)	1
  (2046, 979)	1
  (2896, 980)	1
  (2274, 981)	1
  (2012, 982)	1
  (2621, 983)	1
  (2011, 984)	1
  (2165, 985)	1
  (1892, 986)	1
  (2521, 987)	1
  (2278, 988)	1
  (2222, 989)	1
  (2384, 990)	1
  (2076, 991)	1
  (2822, 992)	1
  (2868, 993)	1
  (1716, 994)	1
  (1943, 995)	1
  (2392, 996)	1
  (2010, 997)	1
  (2442, 998)	1
  (2233, 999)	1

In [10]:
print(ICM.tocsc()[:,999])

  (902, 0)	1
  (1606, 0)	1
  (1608, 0)	1
  (1944, 0)	1
  (2008, 0)	1
  (2233, 0)	1
  (2469, 0)	1
  (2884, 0)	1

In [11]:
print(IX_items.index[IX_items == 999])
print(IX_attr.artist_id.index[IX_attr.artist_id == 902])
print(IX_attr.album.index[IX_attr.album == 1606])
print(IX_attr.playcount.index[IX_attr.playcount == 1606])
print(IX_attr.duration.index[IX_attr.duration == 1608])
print(IX_attr.tags.index[IX_attr.tags.isin([1944, 2008, 2233, 2469, 2884])])

Int64Index([3349672], dtype='int64')
Int64Index([104658], dtype='int64')
Float64Index([47035.0], dtype='float64')
Float64Index([], dtype='float64')
Float64Index([1.0], dtype='float64')
Float64Index([58174.0, 70251.0, 109806.0, 157349.0, 239339.0], dtype='float64')

In [12]:
tr_info_fixed[tr_info_fixed['track_id'].isin(IX_items.index[IX_items == 999])]

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
20466,3349672,104658,1.0,NaN,47035.0,157349.0,239339.0,58174.0,70251.0,109806.0

In [13]:
if n_min_attr >= 2:
        rs.prune_useless(ICM, n_min_attr)
print(ICM)

Pruning attributes.
Number of attributes before pruning is: 3021
Number of attributes after pruning is: 159
  (0, 0)	1
  (903, 0)	1
  (1683, 0)	1
  (1689, 0)	1
  (2060, 0)	1
  (2066, 0)	1
  (2866, 0)	1
  (1, 1)	1
  (904, 1)	1
  (1968, 1)	1
  (2008, 1)	1
  (2011, 1)	1
  (2247, 1)	1
  (2551, 1)	1
  (2, 2)	1
  (905, 2)	1
  (1789, 2)	1
  (2002, 2)	1
  (2260, 2)	1
  (2293, 2)	1
  (2298, 2)	1
  (3, 3)	1
  (1683, 3)	1
  (1688, 3)	1
  (2076, 3)	1
  :	:
  (2246, 996)	1
  (2392, 996)	1
  (2515, 996)	1
  (2809, 996)	1
  (900, 997)	1
  (2010, 997)	1
  (2011, 997)	1
  (2458, 997)	1
  (2630, 997)	1
  (2763, 997)	1
  (901, 998)	1
  (1605, 998)	1
  (2260, 998)	1
  (2442, 998)	1
  (2447, 998)	1
  (2597, 998)	1
  (2803, 998)	1
  (902, 999)	1
  (1606, 999)	1
  (1608, 999)	1
  (1944, 999)	1
  (2008, 999)	1
  (2233, 999)	1
  (2469, 999)	1
  (2884, 999)	1

In [14]:
S = rs.create_Smatrix(ICM, n_el_sim, measure, shrinkage, IX_tgt_items, IX_items)
print(S)

Computed 0 similarities over 1000 with dot measure and 0 shrinkage.
  (0, 234)	1.0
  (0, 36)	1.0
  (0, 183)	1.0
  (0, 232)	1.0
  (0, 187)	1.0
  (0, 279)	1.0
  (0, 229)	1.0
  (0, 281)	1.0
  (0, 282)	1.0
  (0, 166)	1.0
  (0, 228)	1.0
  (0, 243)	1.0
  (0, 28)	1.0
  (0, 287)	1.0
  (0, 288)	1.0
  (0, 289)	1.0
  (0, 290)	1.0
  (0, 92)	1.0
  (0, 285)	1.0
  (0, 266)	7.0
  (1, 257)	1.0
  (1, 47)	1.0
  (1, 48)	1.0
  (1, 49)	1.0
  (1, 106)	1.0
  :	:
  (998, 172)	1.0
  (998, 25)	2.0
  (998, 176)	2.0
  (998, 91)	2.0
  (998, 24)	3.0
  (999, 269)	1.0
  (999, 42)	1.0
  (999, 185)	1.0
  (999, 200)	1.0
  (999, 84)	1.0
  (999, 61)	1.0
  (999, 101)	1.0
  (999, 63)	1.0
  (999, 277)	1.0
  (999, 117)	1.0
  (999, 280)	1.0
  (999, 99)	1.0
  (999, 120)	1.0
  (999, 174)	1.0
  (999, 286)	1.0
  (999, 172)	1.0
  (999, 55)	1.0
  (999, 95)	1.0
  (999, 162)	1.0
  (999, 302)	2.0

In [15]:
print(S.tocsr()[567,:])

  (0, 28)	2.0
  (0, 74)	3.0
  (0, 77)	3.0
  (0, 78)	3.0
  (0, 79)	2.0
  (0, 83)	2.0
  (0, 166)	2.0
  (0, 175)	2.0
  (0, 179)	2.0
  (0, 180)	3.0
  (0, 187)	2.0
  (0, 270)	2.0
  (0, 279)	2.0
  (0, 281)	2.0
  (0, 285)	2.0
  (0, 287)	2.0
  (0, 288)	2.0
  (0, 289)	2.0
  (0, 290)	2.0
  (0, 292)	2.0

In [16]:
tr_info_fixed[tr_info_fixed['track_id'].isin(IX_items.index[IX_items == 567])]

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
97527,89213,147566,NaN,NaN,NaN,205245.0,11056.0,190049.0,78358.0,1625.0

In [17]:
tr_info_fixed[tr_info_fixed['track_id'].isin(IX_tgt_items.index[IX_tgt_items == 78])]

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
70294,295208,18326,NaN,NaN,NaN,205245.0,72354.0,190049.0,11056.0,241571.0

In [18]:
aux1, aux2, IX_tgt_playlists, aux3 = rs.create_sparse_indexes(playlists=tgt_pl_reduced)
print(aux1)
print(aux2)
print(IX_tgt_playlists)
print(aux3)

None
None
10024884       0
4267369        1
65078          2
10138804       3
6299524        4
11295404       5
4157419        6
1911645        7
1140304        8
4310448        9
4874293       10
5903309       11
1072577       12
5047826       13
5241540       14
4743330       15
10985037      16
3755267       17
8426989       18
82847         19
4192208       20
8830133       21
4526137       22
970740        23
5742191       24
7096673       25
6890734       26
3560810       27
4107298       28
7947658       29
            ...
6870281     2676
10878867    2677
10135568    2678
7362350     2679
4332380     2680
6096241     2681
2602631     2682
8851585     2683
7245245     2684
7739410     2685
10298734    2686
4144707     2687
3777540     2688
1615800     2689
10583362    2690
6819102     2691
3095662     2692
7899503     2693
5369008     2694
3818718     2695
5666859     2696
4185120     2697
10867617    2698
11381473    2699
8344678     2700
5903507     2701
8868869     2702
10337087    2703
11369546    2704
7939535     2705
Length: 2706, dtype: int64
None

In [19]:
URM = rs.create_tgt_URM(IX_tgt_playlists, IX_items, train_reduced)
URM = URM.tocsr()
print(URM)

Calculated 0 users ratings over 2706
Calculated 1000 users ratings over 2706
Calculated 2000 users ratings over 2706
  (0, 575)	1
  (0, 642)	1
  (1, 967)	1
  (2, 281)	1
  (2, 665)	1
  (2, 688)	1
  (3, 204)	1
  (3, 987)	1
  (4, 670)	1
  (5, 368)	1
  (5, 911)	1
  (6, 294)	1
  (7, 247)	1
  (8, 938)	1
  (9, 320)	1
  (9, 576)	1
  (10, 123)	1
  (11, 485)	1
  (12, 166)	1
  (12, 756)	1
  (13, 286)	1
  (13, 730)	1
  (14, 606)	1
  (14, 899)	1
  (15, 478)	1
  :	:
  (2691, 858)	1
  (2692, 839)	1
  (2693, 395)	1
  (2694, 436)	1
  (2695, 46)	1
  (2696, 830)	1
  (2697, 39)	1
  (2697, 391)	1
  (2697, 538)	1
  (2698, 788)	1
  (2698, 975)	1
  (2699, 209)	1
  (2699, 320)	1
  (2699, 460)	1
  (2699, 746)	1
  (2699, 862)	1
  (2700, 209)	1
  (2700, 936)	1
  (2701, 730)	1
  (2702, 272)	1
  (2703, 395)	1
  (2703, 438)	1
  (2704, 99)	1
  (2705, 347)	1
  (2705, 555)	1

In [20]:
print(URM[0,:])

  (0, 575)	1
  (0, 642)	1

In [21]:
IX_items.index[IX_items == 575]

Int64Index([897319], dtype='int64')

In [22]:
train_reduced[train_reduced['playlist_id'].isin(IX_tgt_playlists.index[IX_tgt_playlists == 0])]

        playlist_id  track_id
768852     10024884    897319
780988     10024884   2726115

In [29]:
recommendetions = np.array([])
for p in IX_tgt_playlists.values:
            avg_sims = URM[p,:].dot(S).toarray().ravel()
            top = rs.top5_outside_playlist(avg_sims, p, train_reduced, IX_tgt_playlists, IX_tgt_items)
            recommendetions = np.append(recommendetions, rs.sub_format(top))
            if (p % 1000 == 0):
                print('Recommended ' + str(p) + ' users over ' + str(IX_tgt_playlists.values.shape[0]))
recs = pd.DataFrame(data=np.array([tgt_pl_reduced['playlist_id'], recommendetions]).transpose() , index=range(IX_tgt_playlists.values.shape[0]), columns=['playlist_id', 'track_ids'])
recs

Recommended 0 users over 2706
Recommended 1000 users over 2706
Recommended 2000 users over 2706

     playlist_id                                track_ids
0       10024884  3126216 1647524 3091415 1675995 2788349
1        4267369    956908 1137713 2872966 1826682 110375
2          65078   3022764 1341741 2435871 405987 2225942
3       10138804  3620485 1528208 1318111 2881150 2434335
4        6299524      190397 60426 512533 2820631 1137713
5       11295404    2702981 337446 2134698 1336998 824691
6        4157419    1768540 933335 3738272 1676994 867355
7        1911645    2773152 1081482 802019 719266 1675995
8        1140304  3432010 1218133 3669444 1999252 2719923
9        4310448   661656 3050192 1964815 2996295 3440517
10       4874293  2989580 3794632 3835631 3739249 3440517
11       5903309   1790158 1091700 110375 1030818 1905272
12       1072577   2378652 1627050 1609918 959826 3637050
13       5047826   3434700 3103440 682246 1445410 1211012
14       5241540  1373218 1336998 1708079 1091700 2535373
15       4743330    376214 352435 2391046 2820631 1533023
16      10985037  1734509 2241010 1137713 2380245 2804134
17       3755267   3620485 337446 2486964 2881150 4730293
18       8426989    3434700 166957 2623603 682246 2367877
19         82847    337446 1735740 2101350 1064541 492379
20       4192208  1627050 1373218 2793249 1905272 3137064
21       8830133  2239423 1341097 2910246 2265463 3189355
22       4526137  1341741 3022764 1916291 3539174 2623603
23        970740    3126216 3738272 210510 2628132 731766
24       5742191  2628117 3221825 2327582 3496100 1464517
25       7096673      492379 3720234 337446 873782 193154
26       6890734   2542790 3486745 4730293 1943050 210510
27       3560810   1826682 719266 2391770 2391046 1394353
28       4107298   2486964 2034510 2542790 1064541 730707
29       7947658    1627050 424298 2206593 412538 2720582
...          ...                                      ...
2676     6870281     959826 82799 1978398 3309729 2378652
2677    10878867   2442476 3352696 3365143 3440517 424298
2678    10135568   1137264 424298 2442476 1627050 2535373
2679     7362350      687114 1975608 52712 731766 1627050
2680     4332380   337446 1735740 4730293 2369248 3738272
2681     6096241  1137713 1887460 2327582 1991779 3221825
2682     2602631    652701 648545 2367877 2442476 3050192
2683     8851585   209196 1373218 1336998 1627050 2910342
2684     7245245      2788349 3720234 541675 82799 731766
2685     7739410   2623603 682246 3434700 2435871 2367877
2686    10298734      719266 825639 1357451 3579371 66103
2687     4144707       2788349 82799 959826 731766 541675
2688     3777540    3739249 3835631 2902912 3794632 66103
2689     1615800   1887460 2561737 3783220 3302552 730707
2690    10583362  3579371 1137713 1685021 2773152 3044439
2691     6819102    2924366 1647524 3704005 492379 337446
2692     3095662   3751470 1724901 1081482 2225942 372307
2693     7899503  3022764 1341741 3539174 1916291 1963310
2694     5369008  1373218 2702981 2134698 2788426 1730098
2695     3818718    1675995 867355 211353 1030818 1064541
2696     5666859    2206593 45092 2683979 1445410 1071085
2697     4185120    1708079 337446 1964815 543519 2910342
2698    10867617    543519 3406703 2996295 2543912 190397
2699    11381473  2442476 2619375 3352696 3440517 3365143
2700     8344678   3352696 1855610 3365143 3440517 424298
2701     5903507    3434700 3103440 682246 3302552 631933
2702     8868869   209196 1373218 2910342 1730098 2206593
2703    10337087  3440517 1341741 1916291 3022764 3539174
2704    11369546      959826 1627050 541675 805611 867355
2705     7939535   1193691 2134698 281865 1609918 1137264

[2706 rows x 2 columns]

In [30]:
train_reduced[train_reduced['playlist_id'] == 10024884]

        playlist_id  track_id
768852     10024884    897319
780988     10024884   2726115

In [32]:
recs[recs['playlist_id'] == str(10024884)]

  playlist_id                                track_ids
0    10024884  3126216 1647524 3091415 1675995 2788349

In [34]:
print(IX_tgt_items.loc[[3126216, 1647524, 3091415, 1675995, 2788349]])
print(IX_items.loc[[897319, 2726115]])

3126216    244
1647524    262
3091415     47
1675995     49
2788349     60
dtype: int64
897319     575
2726115    642
dtype: int64

In [37]:
print(S.tocsc()[575, [244,262,47,49,60]])
print('\n')
print(S.tocsc()[575, :])
print('\n')
print(S.tocsc()[642, [244,262,47,49,60]])
print('\n')
print(S.tocsc()[642, :])

  (0, 0)	3.0
  (0, 1)	3.0
  (0, 2)	2.0
  (0, 3)	2.0
  (0, 4)	2.0


  (0, 29)	2.0
  (0, 36)	2.0
  (0, 47)	2.0
  (0, 49)	2.0
  (0, 60)	2.0
  (0, 65)	2.0
  (0, 92)	2.0
  (0, 177)	2.0
  (0, 205)	2.0
  (0, 230)	2.0
  (0, 234)	2.0
  (0, 243)	2.0
  (0, 244)	3.0
  (0, 250)	2.0
  (0, 257)	2.0
  (0, 262)	3.0
  (0, 281)	2.0
  (0, 285)	2.0
  (0, 292)	2.0
  (0, 296)	2.0


  (0, 0)	2.0
  (0, 1)	2.0
  (0, 2)	1.0
  (0, 3)	1.0
  (0, 4)	1.0


  (0, 36)	1.0
  (0, 47)	1.0
  (0, 49)	1.0
  (0, 60)	1.0
  (0, 65)	1.0
  (0, 66)	1.0
  (0, 82)	1.0
  (0, 106)	2.0
  (0, 232)	1.0
  (0, 243)	1.0
  (0, 244)	2.0
  (0, 247)	1.0
  (0, 249)	1.0
  (0, 250)	1.0
  (0, 257)	1.0
  (0, 262)	2.0
  (0, 271)	1.0
  (0, 278)	1.0
  (0, 279)	1.0
  (0, 324)	1.0