# Libraries Import

In [19]:
import pandas as pd
import numpy as np
import os.path
import recsys as rs
import TopSimilarRecommender as TSR
import random

# Datasets

In [2]:
train = pd.read_csv('Data/train_final.csv','\t')
tr_info = pd.read_csv('Data/tracks_final.csv','\t')
pl_info = pd.read_csv('Data/playlists_final.csv','\t')
tgt_pl = pd.read_csv('Data/target_playlists.csv','\t')
tgt_tr = pd.read_csv('Data/target_tracks.csv','\t')

# Data Visualization

In [3]:
train.head()

   playlist_id  track_id
0      3271849   2801526
1      5616275    727878
2     11267488   2805283
3     10103900   1515105
4      3836898   2945623

In [4]:
tr_info.head()

,track_id,artist_id,duration,playcount,album,tags
0,2972914,144,224000,49.0,[7],"[54087, 1757, 1718, 116712, 189631]"
1,2750239,246,157000,1.0,[8],"[189631, 3424, 177424, 46208, 205245]"
2,1550729,144,217000,554.0,[9],"[54087, 109806, 46869, 183258, 54337]"
3,2169950,144,207000,200.0,[9],"[54087, 70618, 207003, 109806, 116712]"
4,1903709,144,198000,5.0,[None],"[54087, 81223, 116712, 215342, 71028]"

In [5]:
pl_info.head()

,created_at,playlist_id,title,numtracks,duration,owner
0,1216545588,644838,[12727],27,6522,41504
1,1249326867,7577564,[],9,2650,41504
2,1257766688,3120683,[183],16,3645,44542
3,1248079275,4278112,"[12389, 18698, 18925, 11695, 7117]",15,4151,44542
4,1175201268,8656823,"[12809, 2095, 13257, 12671, 20426, 14448, 18698]",84,18414,44542

In [6]:
tgt_pl.head()

   playlist_id
0     10024884
1     10624787
2      4891851
3      4267369
4        65078

In [7]:
tgt_tr.head()

   track_id
0   1316175
1   3885714
2   3091270
3    226759
4    230596

# Division of the Data in Trainset and Testset

From the target playlists, only the ones with more than 10 elements are kept.

In [51]:
#big_target_playlist = pl_info[['playlist_id', 'numtracks']]
#big_target_playlist = big_target_playlist.where(big_target_playlist['numtracks']>=10)
#big_target_playlist = pd.merge(big_target_playlist, tgt_pl, how='inner', on='playlist_id')
#big_target_playlist.shape

big_target_playlist = [i for i in np.unique(train['playlist_id'].values) if train[train['playlist_id'] == i].shape[0] >= 10]

From the playlists in big_target_playlists, 10 are randomly picked.

In [174]:
test_pl = pd.DataFrame({"playlist_id": list(map(lambda x: random.choice(big_target_playlist), range(10)))})
test_pl

   playlist_id
0     11699782
1      5215979
2      1042783
3      2949425
4      3177065
5     11747192
6        53329
7      6960933
8      7877082
9     10203793

5 elements are removed from each playlist and save in tracks_removed.

In [268]:
tracks_in_test_pl = pd.merge(train, test_pl, how='inner', on='playlist_id')
tracks_removed= pd.DataFrame(columns=['playlist_id', 'track_id'])
for i in np.unique(tracks_in_test_pl['playlist_id'].values):
    #randomy selects 5 elements from playlist i and save indexes
    tmp = pd.DataFrame(tracks_in_test_pl.where(tracks_in_test_pl['playlist_id']==i).dropna().sample(5)).index
    #insert the items selected in tracks_removed dataFrame
    tracks_removed= tracks_removed.append(tracks_in_test_pl.take(tmp)) 
    #remove tracks from the original dataframe
    tracks_in_test_pl.drop(tmp, inplace='true')
tracks_removed
tracks_in_test_pl

     playlist_id  track_id
1        5215979   2699158
2        5215979   1460733
3        5215979   2891897
4        5215979   2352872
5        5215979   2366715
6        5215979   3305142
7        5215979   2207579
8        5215979   2316753
9        5215979    270419
10       5215979   1570306
12       5215979   2847433
13       5215979   2779560
15       5215979   3278282
16       5215979    329539
19       5215979   3138311
20       5215979   3056264
21       5215979   3493947
22       5215979   3287360
23       5215979   3016695
24       5215979   2561390
25       5215979   1197854
26      11699782   2215531
28      11699782   1537399
29      11699782   2214962
30      11699782   1276685
31      11699782   2346382
32      11699782   3837773
33      11699782   1654141
34      11699782   3123957
35      11699782   3297909
..           ...       ...
374      6960933    917927
375      6960933    730742
376      6960933   2034520
377      6960933   3603336
378      6960933   1767752
379      6960933   1746248
380      6960933   2148261
381      6960933   2059497
384      6960933    727864
385      6960933   3740882
386      6960933   3779608
388      6960933   3030477
390      1042783   1770132
392      1042783   1713616
395      1042783    104894
397      1042783   3096033
398      1042783   3863389
399      1042783    311138
400      1042783   1067229
402        53329   3738328
403        53329    633738
404        53329   1866682
406        53329   1373898
407        53329   3497337
408        53329    344716
410        53329   2891167
411        53329    192866
412        53329   3169704
414        53329   1963288
415        53329    879546

[367 rows x 2 columns]

In [161]:
(fit_dict = {'tracks_info' : tr_info,
              'attributes' : ,
              'n_min_attr' : ,
              'measure' : ,
              'n_el_sim' : ,
              'Smat' :}

recommend_dict = {'tgt_playlists' : ,)
                  'train_playlists_tracks_pairs' : train}

SyntaxError: invalid syntax (<ipython-input-161-cc7ac68a770e>, line 1)

In [162]:
rec = TSR()
rec.fit(**fit_dict)

TypeError: 'module' object is not callable

In [ ]:
recommendetions = rec.recommend(**recommend_dict)

In [ ]:
map_eval = rs.evaluate(recommendetions, test, 'MAP')

In [ ]:
tojson('path', [fit_dict, recommend_dict, map_eval])