In [1]:
import pandas as pd
import numpy as np
import os.path
import recsys as rs
import notipy
import TopSimilarRecommender as TSR
import random

In [3]:
recommendations= pd.read_csv('Submissions/top_similar_submission_0.04744.csv')
train = pd.read_csv('Data/train_final.csv','\t')
tr_info = pd.read_csv('Data/tracks_final.csv','\t')
pl_info = pd.read_csv('Data/playlists_final.csv','\t')
tgt_pl = pd.read_csv('Data/target_playlists.csv','\t')
tgt_tr = pd.read_csv('Data/target_tracks.csv','\t')

In [4]:
big_target_playlist = [i for i in np.unique(train['playlist_id'].values) if train[train['playlist_id'] == i].shape[0] >= 10]

In [5]:
test_pl = pd.DataFrame({"playlist_id": list(map(lambda x: random.choice(big_target_playlist), range(100)))})
test_pl

    playlist_id
0       5521188
1        225179
2        160503
3      11319332
4       6571054
5       2586071
6       3223162
7       8485627
8      10943483
9       7665603
10      6658084
11      7541655
12      5738332
13      5198755
14      7911906
15     11151972
16      8868081
17      4892799
18      7931592
19      7975634
20      6322299
21      5187374
22      7936973
23     11204801
24      5667456
25      6312683
26      5184606
27      4481951
28     11096711
29      7541811
..          ...
70       731535
71     10365124
72      5874005
73      6118463
74       585386
75     11240166
76      8864947
77      6753301
78      8256622
79      4604857
80      4459845
81      5386444
82      7542196
83      6025927
84      3065468
85      7477581
86      2988781
87      3879747
88      8134675
89     10733287
90      5553364
91      5080355
92      5259723
93      8670071
94      4196311
95      5501506
96      7784056
97     10137947
98      7050502
99      8916162

[100 rows x 1 columns]

In [6]:
tracks_in_test_pl = pd.merge(train, test_pl, how='inner', on='playlist_id')
tracks_removed= pd.DataFrame(columns=['playlist_id', 'track_id'], dtype='int32')
indexes_to_remove= np.array([], dtype='int32')
for i in np.unique(tracks_in_test_pl['playlist_id'].values):
    #randomly selects 5 elements from playlist i and save indexes
    tmp = (tracks_in_test_pl.where(tracks_in_test_pl['playlist_id']==i).dropna().sample(5)).index
    #insert the items selected in tracks_removed dataFrame
    tracks_removed= tracks_removed.append(tracks_in_test_pl.take(tmp)).astype(int)
    #remove tracks from the original dataframe
    indexes_to_remove=np.append(indexes_to_remove, values=tmp)

tracks_in_train= pd.DataFrame(tracks_in_test_pl)
tracks_in_train.drop(indexes_to_remove, inplace='true')
tracks_removed

      playlist_id  track_id
4341       160503   3835624
4329       160503   1344294
4334       160503   1729875
4328       160503    853629
4339       160503   2816088
3155       225179   3872220
3165       225179   3735034
3162       225179   2726028
3159       225179    699515
3170       225179   2553607
3854       585386    555284
3802       585386   1599985
3819       585386    461844
3838       585386    291707
3853       585386   2993729
3148       731535   3053353
3144       731535   1694907
3146       731535   1337638
3142       731535   3241434
3149       731535   3746388
2531      2586071   2379945
2529      2586071   3812308
2526      2586071   1052625
2524      2586071   1188302
2516      2586071   2328267
1057      2828202   2655442
1102      2828202    133125
1062      2828202   1688466
1072      2828202   1526340
1038      2828202   4620979
...           ...       ...
4259     11298273   2929800
4268     11298273   1365004
4264     11298273   2932596
4252     11298273   3855891
4263     11298273   1783219
4372     11319332    556324
4365     11319332   2595471
4357     11319332   3506814
4358     11319332   1488456
4371     11319332    667962
3124     11337788   3870460
3132     11337788    108977
3134     11337788   1867318
3119     11337788   1643562
3130     11337788   1678177
3270     11483074    965428
3262     11483074   3499735
3254     11483074   2650382
3249     11483074   3323012
3247     11483074   1227299
1596     11690263   1506082
1597     11690263   3821927
1649     11690263    109227
1571     11690263   3571691
1679     11690263   2560312
1117     11760554   2566209
1139     11760554   1136590
1124     11760554   1584465
1140     11760554   1700833
1105     11760554   3091338

[500 rows x 2 columns]

In [8]:
map_eval = rs.evaluate(recommendations, tracks_removed, 'MAP')

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().