In [1]:
import numpy as np
import pandas as pd
import recsys as rs

In [2]:
dataset = pd.read_csv('Data/train_final.csv','\t')
tr_info = pd.read_csv('Data/tracks_final.csv','\t')
tgt_pl = pd.read_csv('Data/target_playlists.csv','\t')
tgt_tr = pd.read_csv('Data/target_tracks.csv','\t')
attributes = ['artist_id', 'album', 'tags', 'playcount', 'duration']
n_min_attr = 5
n_el_sim = 20
measure = 'dot'
shrinkage = 0
min_tracks_in_playlist=10
test_percentage=20
n_tracks_toremove=5
seed=2517

In [3]:
train, test, tgt_tracks, tgt_playlists = rs.split_train_test(dataset, min_tracks_in_playlist, test_percentage, n_tracks_toremove, seed)

In [4]:
train

         playlist_id  track_id
13           3738258    351130
16          10783548   2288999
17           6043192     54520
22           8000772   1986571
29           8130908    191353
33           6394058   3769279
37           8694835   2495915
49           5077791   2234575
58          10486742     81663
63           8803166   1818796
72            304021   1912347
81           3738258   1950307
84           7952605    555294
85          10405304    813427
100          8695655   1597978
102           231290   1685787
107         11674400   3836800
110           579947   2618676
111          6450262   2863754
112          6865665   1678109
114          7021047   2502772
124          3223524   2835625
139          5244646   2671399
152          5200732   3347420
156         10557580   2012449
164          8542974   1450114
167          8148304   2435655
168          4103126   2027988
183          6425089    303587
196         11740317   4570200
...              ...       ...
1040336       588778   2788426
1040341      7839049   2607716
1040344     10984032   1201325
1040345      3778920   2144318
1040350      1787529    515469
1040353      3752244    942000
1040370     11740317   2787106
1040371      3894132   1130325
1040378     11139177   2062322
1040383      8309689   2825522
1040389      7435696   3310185
1040395     10226029   1210626
1040404      5779894   2722390
1040415      1427124   2289975
1040424      8284456   3712365
1040431     10404670    270493
1040433      6074658   2819028
1040444      3599698   3000473
1040451      8988236   3076463
1040453      3094941    873780
1040475      8168399   1315649
1040479     10748345   3237347
1040482      4526137   1205302
1040483      4984130   1202220
1040491      5440256   2153639
1040494     10453739   1167097
1040499      4653894   1818278
1040502      8168399   2578712
1040513      7608467   1363985
1040520     10687820   1187581

[153461 rows x 2 columns]

In [5]:
test

         playlist_id  track_id
1039857      3738258   3010868
662817       3738258   2958044
990415       3738258   1860509
256071       3738258    825195
699120       3738258   2059434
91917       10783548   3287819
319082      10783548    566238
474740      10783548    619708
850319      10783548   2831382
643876      10783548   1269345
683756       6043192   2331344
608832       6043192   2135904
121358       6043192    463183
835173       6043192   2542883
136149       6043192   1691014
396732       8000772   1942992
914668       8000772   1960063
714670       8000772    311947
896834       8000772   3588665
520721       8000772   4481361
570895       4878824   1866822
24           4878824    648387
922936       4878824    670439
348025       4878824   1265718
437255       4878824   2814313
862977       8130908   2759209
950310       8130908   3096894
23006        8130908   1480428
27141        8130908   2417625
452745       8130908    155639
...              ...       ...
845573       3344503   2226790
469680       3344503   1732039
927521       3344503   2695825
368936       3344503   2278079
1039693      3344503   1368630
998383       6437347   2988959
463512       6437347    307628
1035126      6437347    518754
975508       6437347   3195453
980536       6437347   1348972
904513      11015637   3370928
919440      11015637   2503663
497438      11015637    926335
958460      11015637   2834081
419242      11015637   2837798
417839       5743308    573738
621460       5743308   2505001
681409       5743308    198602
522277       5743308   3829456
948319       5743308   1338161
574700       6868229   4877218
418829       6868229   2665274
767750       6868229   2083438
562146       6868229   1999499
908209       6868229    792357
814625       4737827   1960923
833120       4737827   1669772
913254       4737827   2802517
429899       4737827   2083578
552048       4737827   3221375

[20000 rows x 2 columns]

In [6]:
tgt_tracks

         playlist_id  track_id
1039857      3738258   3010868
662817       3738258   2958044
990415       3738258   1860509
256071       3738258    825195
699120       3738258   2059434
91917       10783548   3287819
319082      10783548    566238
474740      10783548    619708
850319      10783548   2831382
643876      10783548   1269345
683756       6043192   2331344
608832       6043192   2135904
121358       6043192    463183
835173       6043192   2542883
136149       6043192   1691014
396732       8000772   1942992
914668       8000772   1960063
714670       8000772    311947
896834       8000772   3588665
520721       8000772   4481361
570895       4878824   1866822
24           4878824    648387
922936       4878824    670439
348025       4878824   1265718
437255       4878824   2814313
862977       8130908   2759209
950310       8130908   3096894
23006        8130908   1480428
27141        8130908   2417625
452745       8130908    155639
...              ...       ...
527704      10911771   1028883
536285      10911771   1432903
901391      10911771    686635
577822        898771   1954830
508239        898771    196933
899444       5225336   2894765
755090       5225336   1349120
469680       3344503   1732039
368936       3344503   2278079
1039693      3344503   1368630
998383       6437347   2988959
463512       6437347    307628
1035126      6437347    518754
975508       6437347   3195453
919440      11015637   2503663
497438      11015637    926335
958460      11015637   2834081
419242      11015637   2837798
417839       5743308    573738
681409       5743308    198602
522277       5743308   3829456
574700       6868229   4877218
418829       6868229   2665274
767750       6868229   2083438
562146       6868229   1999499
908209       6868229    792357
814625       4737827   1960923
833120       4737827   1669772
913254       4737827   2802517
429899       4737827   2083578

[15960 rows x 2 columns]

In [7]:
tgt_playlists

      playlist_id
0         4882971
1         6046874
2         8533821
3         6153726
4        10456075
5         3157750
6        10780640
7         6715922
8         4917136
9         5225336
10       11397447
11        7864874
12       11380599
13       10664669
14        8284414
15        3706456
16        3951089
17        7615511
18        6737079
19        8595246
20        8203783
21        7480280
22       11552358
23         247963
24        3879398
25        2831641
26       11121151
27        5693333
28        3151352
29        8261277
...           ...
4390      3148534
4391      5598423
4392      7771348
4393      4773701
4394      2977891
4395      4391398
4396      5296286
4397     10528864
4398     10149382
4399      4886191
4400      4589759
4401      3738857
4402     11004283
4403      4029114
4404      3586282
4405     10884026
4406      7541991
4407      5552162
4408      7790307
4409      6147616
4410      7204541
4411     10251736
4412       376810
4413     10486742
4414        56885
4415      7541836
4416       104834
4417     10308008
4418      5075762
4419      7995977

[4420 rows x 1 columns]

In [8]:
tr_info_reduced = tr_info.sample(n=5000, random_state=2517, axis=0)
tr_info_reduced

,track_id,artist_id,duration,playcount,album,tags
58953,190289,292479,195000,64.0,[134748],"[235879, 11056, 11374, 79716, 79259]"
45209,2121734,228815,306000,4328.0,[105362],"[61837, 70618, 70251, 115355, 175099]"
87223,3783220,418280,195000,23.0,[196282],"[122769, 117167, 123107, 68498, 31015]"
2934,3362029,19144,189000,1262.0,[None],"[190112, 205245, 11056, 81211, 11242]"
3174,3870449,20246,268000,351.0,[8670],"[228654, 189631, 11653, 81223, 228763]"
67666,2957114,337984,261000,874.0,[155561],"[31015, 31253, 100810, 31065, 81223]"
26733,608708,141098,336000,357.0,[62923],"[263180, 29723, 193238, 154891, 266785]"
54474,1218133,273056,353000,37.0,[None],"[201327, 207510, 66029, 121374, 201535]"
10620,45234,50659,270000,45.0,[25288],"[205245, 194264, 103394, 231854, 194413]"
3286,1275962,20847,191000,336.0,[8983],"[11056, 115752, 209678, 59632, 130293]"
53532,3003333,268739,268000,1227.0,[None],"[4425, 68498, 264053, 81223, 270182]"
58685,3173002,3808,315000,2641.0,[134123],"[70618, 5968, 64978, 255208, 142475]"
69566,1729619,346357,464000,772.0,[None],"[78511, 115859, 115871, 270105, 70625]"
28108,190397,147287,221000,46556.0,[66180],"[70618, 54087, 70625, 78105, 109806]"
38474,1702866,198247,205000,1.0,[91140],"[70625, 70618, 115355, 235879, 189631]"
50183,352435,252347,194000,175.0,[116081],"[186445, 48949, 11957, 168623, 48984]"
38510,1154967,198582,169000,25.0,[91315],"[115355, 70618, 81223, 204282, 70251]"
16913,564251,77884,261000,1799.0,[39473],"[189631, 54087, 29049, 81223, 138266]"
55138,1627050,276834,173000,13613.0,[127374],"[11242, 11056, 205245, 115355, 187594]"
11153,3858140,52124,289000,1236.0,[26276],"[115355, 115752, 11056, 205245, 35060]"
54219,1576670,271661,308000,1399.0,[124857],"[76913, 191177, 19500, 170251, 232629]"
9245,266002,44153,270000,38.0,[None],"[11412, 84911, 84913, 25675, 2370]"
36521,3275087,188004,280000,1.0,[86554],"[70618, 70251, 134224, 134139, 237214]"
53598,3072615,269036,420000,349.0,[123588],"[122769, 49397, 211809, 117167, 221703]"
26644,2063847,140754,229000,1163.0,[62822],"[97480, 92799, 169455, 70625, 70618]"
92299,97179,450200,334000,5292.0,[208773],"[205245, 124164, 215342, 142475, 218701]"
9041,436453,43620,229000,594.0,[21327],"[115355, 11056, 1538, 1494, 238317]"
93804,2891817,456920,1082000,439.0,[212334],"[31015, 20000, 46208, 31252, 31256]"
44733,214035,227439,309000,4380.0,[104612],"[256796, 233566, 271235, 43212, 16041]"
61307,2597585,307301,183000,1332.0,[None],"[235879, 21937, 153933, 75753, 75702]"
...,...,...,...,...,...,...
74324,2756842,358824,283000,1316.0,[167437],"[191177, 216938, 115355, 35060, 91383]"
99289,3219532,146307,-1,NaN,[],[]
1202,2123656,10400,207000,290.0,[3499],"[175331, 205245, 103394, 154891, 175333]"
72137,2255045,352875,339000,905.0,[163394],"[11056, 170251, 168850, 11242, 3982]"
61913,674453,310141,482000,588.0,[142554],"[191251, 11957, 18322, 200537, 66076]"
47933,1807344,242068,266000,224.0,[111528],"[84597, 115355, 84911, 30878, 35060]"
63003,678779,315870,29000,23.0,[None],"[226723, 89467, 203440, 199968, 96409]"
19201,60400,86109,503000,74.0,[43766],"[205245, 11242, 100238, 103394, 51489]"
26299,3601714,139394,305000,236.0,[62084],"[198998, 107401, 72275, 65347, 146655]"
94411,3522676,459136,429000,2.0,[213778],"[236955, 21937, 18322, 206121, 151222]"
22940,419616,114467,218000,4.0,[52526],"[105199, 103394, 46208, 154891, 61505]"
33274,287186,169548,269000,783.0,[77612],"[115355, 35060, 115752, 205245, 11056]"
72486,3174998,85732,258000,54.0,[163829],"[205283, 50604, 91383, 194540, 195173]"
23285,21989,115794,230000,780.0,[None],"[154891, 175331, 103394, 205245, 11191]"
87276,3185259,419534,277000,1509.0,[None],"[171835, 255208, 5968, 70618, 123323]"
51885,2168398,260550,-1,88.0,[],[]
32045,2790632,163922,387000,229.0,[74498],"[193464, 92517, 205245, 17166, 124088]"
54259,797846,271948,164000,553.0,[None],"[177424, 236483, 3188, 149023, 122769]"
9754,2694655,47096,88000,216.0,[23056],"[172690, 116047, 103055, 3982, 259432]"
96251,215915,20667,201000,104.0,[None],"[87197, 189631, 12315, 81223, 25809]"
34855,1547275,178090,332000,2356.0,[81871],"[212982, 200458, 72625, 72354, 190991]"
65006,2434145,325072,242000,9.0,[149396],"[115355, 258180, 148784, 222078, 11242]"
57032,3671664,124222,262000,26.0,[131140],"[205245, 46208, 196825, 3982, 35060]"
53674,2610366,269363,197000,2882.0,[123757],"[3982, 84597, 205245, 163269, 1263]"
23885,2803471,121281,829000,516.0,[None],"[193395, 154891, 193464, 65576, 193210]"
8511,1752443,42063,190000,14.0,[20398],"[144067, 43242, 65011, 92476, 42956]"
81987,897795,388426,228000,1639.0,[183924],"[57528, 177604, 235902, 263180, 131203]"
4873,1996942,26062,251000,6831.0,[11558],"[11957, 70618, 201869, 81223, 30839]"
8186,195774,40714,165000,929.0,[19760],"[54087, 75574, 235879, 233847, 1655]"
4457,3620450,24885,-1,235.0,[],[]

In [9]:
train_reduced = train[train['track_id'].isin(tr_info_reduced['track_id'].values)]
train_reduced

         playlist_id  track_id
281          7623847   2047628
510          8557209    731135
668          5876151   2476183
705          1179403    808147
906            99527   1064541
1030         8486347   1561290
1122         7198028    419616
1532        11425749    685748
1561         5007406   3231223
2011         6685739    164362
2220        10142322   3094066
2264         7359877    170555
2430        10484719   2929194
2487         6103684   2019820
2589        10462061   1818283
2873         5093304   2800038
3170         8786081   3327662
3239        11179144   1051939
3302         3214061   1109011
3385         6251840   2455921
3646         3859685   1979760
3728         4076657   1188811
3983        11397589   2454669
4212         4029114    867323
4295          844435    867323
4395         8683179   3842344
4687         3148773    157473
4690         7358153   3842344
4859         7340480    187436
4960         6990976   2226377
...              ...       ...
1036896       538403   1252571
1037003      4044593    346924
1037102      1443847   2467291
1037366     10985039   1522745
1037431      6724316   3003315
1037472      5593298   1420053
1037619     10892031   2716197
1037650     10159045   1721660
1037672        93140    266881
1037784      8823623   2248135
1038021     10241381   2208924
1038490     10145821   1647509
1038512      6091695   2249460
1038768      4285064   1844105
1038910     10047032   1199565
1038988     11715291   4737538
1039107      8361682   3241434
1039143      5516150   2448296
1039225      8211330   1885521
1039231     10799490   1351381
1039281     10867725   3325349
1039506      3135209   3603719
1039530     11139177   3069834
1039620      4651879   2881150
1039669      3070664   1609918
1039730      4675225   1050722
1039751       255408   2215041
1039833      3604245   1647509
1040023     10022949   2226064
1040336       588778   2788426

[7985 rows x 2 columns]

In [10]:
tgt_pl_reduced = tgt_playlists[tgt_playlists['playlist_id'].isin(train_reduced['playlist_id'].values)]
tgt_pl_reduced

      playlist_id
0         4882971
1         6046874
2         8533821
3         6153726
4        10456075
5         3157750
7         6715922
10       11397447
13       10664669
14        8284414
15        3706456
17        7615511
18        6737079
19        8595246
20        8203783
21        7480280
22       11552358
25        2831641
26       11121151
27        5693333
28        3151352
34        5807834
35        7633028
36        6280682
37       10750847
38       10407885
39        3579647
40        8574412
41        7619099
43        5825778
...           ...
4375      1271356
4376      8314849
4377      7541139
4379      6623007
4381      7198028
4382      4484173
4383      7155535
4384      7021047
4386      6564876
4387      8186946
4389     10289012
4391      5598423
4392      7771348
4393      4773701
4396      5296286
4397     10528864
4399      4886191
4401      3738857
4402     11004283
4403      4029114
4404      3586282
4405     10884026
4406      7541991
4407      5552162
4409      6147616
4412       376810
4414        56885
4415      7541836
4416       104834
4417     10308008

[2976 rows x 1 columns]

In [11]:
tgt_tr_reduced = tgt_tracks[tgt_tracks['track_id'].isin(train_reduced['track_id'].values)]
tgt_tr_reduced

         playlist_id  track_id
91917       10783548   3287819
850319      10783548   2831382
968829       5077791   2675179
862336       7021047   1091700
354701       4742440   1481277
375937       8583733   2331839
124072       4016922   3129108
967031       3291754   1766253
741442       7605993   3854352
703968      11358999   1711158
336980       8168399   1494858
895925      10623369   2681380
258061      10253974   1452420
84481       10150646   3884980
832862      11452341    491108
806417      11452341   1275964
1023180      7897782   4474831
871808       5876151    443566
717703       6984107   2332086
842074       4026852   1521514
943504       7541984   3315809
174423       6679661    338057
524439       8856182   3786059
1015098      5962027   2586668
998886       7851577   2834107
308500       7851577   2093137
264446       7931592    209196
739335      10952475   1927902
431382       3954715   2227031
748233       7077066   3867153
...              ...       ...
504702       5209706   2014288
206223      11262890   1104063
265212       2174389   4778168
802781       7050502   2718292
432968       5601988   1345644
647319         80558   1547039
656996       1141416   3076183
643664      10634983    263069
269920       6604006    883490
950844       3020535   1807344
187825      10863297   1374934
562689       4535754   2869787
782150       4765000   3493280
202053       8357674   2882283
792454       7945632   2145392
275613       8664153   2891215
218586       7932507   3060693
624793       5062468    801924
577922       8628673   2309127
661309       3777540   2989580
967656      10042764    906707
930075       3891585   2969100
388872      11734946   1242598
1012304      1367372   1171847
264333       1367372   1896608
661913        101090   1120789
374957       2959109   2285993
738080       2964106   3554491
496392       6654701   1227899
417839       5743308    573738

[633 rows x 2 columns]

In [12]:
test_reduced = test[test['track_id'].isin(tr_info_reduced['track_id'].values)]
test_reduced

         playlist_id  track_id
91917       10783548   3287819
850319      10783548   2831382
832762       8694835   3073239
968829       5077791   2675179
1029938     10486742   2136229
659467       8803166    569155
423741       8803166   2467578
151832       7952605   2458504
862336       7021047   1091700
354701       4742440   1481277
295705       8033812    148942
375937       8583733   2331839
124072       4016922   3129108
742961       4659754   1832677
967031       3291754   1766253
741442       7605993   3854352
703968      11358999   1711158
336980       8168399   1494858
895925      10623369   2681380
258061      10253974   1452420
84481       10150646   3884980
832862      11452341    491108
806417      11452341   1275964
1023180      7897782   4474831
871808       5876151    443566
717703       6984107   2332086
655297       3275303   3602694
842074       4026852   1521514
943504       7541984   3315809
174423       6679661    338057
...              ...       ...
275613       8664153   2891215
218586       7932507   3060693
624793       5062468    801924
876002       4701867   2263840
577922       8628673   2309127
664323       7630020   4763562
661309       3777540   2989580
260033       2652699   2448296
967656      10042764    906707
930075       3891585   2969100
367490       5466688   3846669
388872      11734946   1242598
878410      11734946    211353
492738       7495004    491108
1012304      1367372   1171847
264333       1367372   1896608
610552       3568292   1351381
864982       7173237   2900658
661913        101090   1120789
906910       7692990   3637050
374957       2959109   2285993
377908       7571419   1588960
359258       7571419   3158105
739573        287269   2894212
738080       2964106   3554491
496392       6654701   1227899
621614       6954884   1374501
437539       5225336   1136419
417839       5743308    573738
681409       5743308    198602

[1050 rows x 2 columns]

In [13]:
tr_info_fixed = rs.fix_tracks_format(tr_info_reduced)
tr_info_fixed

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
58953,190289,292479,NaN,NaN,134748.0,235879.0,11056.0,11374.0,79716.0,79259.0
45209,2121734,228815,NaN,NaN,105362.0,61837.0,70618.0,70251.0,115355.0,175099.0
87223,3783220,418280,NaN,NaN,196282.0,122769.0,117167.0,123107.0,68498.0,31015.0
2934,3362029,19144,NaN,NaN,NaN,190112.0,205245.0,11056.0,81211.0,11242.0
3174,3870449,20246,NaN,NaN,8670.0,228654.0,189631.0,11653.0,81223.0,228763.0
67666,2957114,337984,NaN,NaN,155561.0,31015.0,31253.0,100810.0,31065.0,81223.0
26733,608708,141098,NaN,NaN,62923.0,263180.0,29723.0,193238.0,154891.0,266785.0
54474,1218133,273056,1.0,NaN,NaN,201327.0,207510.0,66029.0,121374.0,201535.0
10620,45234,50659,NaN,NaN,25288.0,205245.0,194264.0,103394.0,231854.0,194413.0
3286,1275962,20847,NaN,NaN,8983.0,11056.0,115752.0,209678.0,59632.0,130293.0
53532,3003333,268739,NaN,NaN,NaN,4425.0,68498.0,264053.0,81223.0,270182.0
58685,3173002,3808,NaN,NaN,134123.0,70618.0,5968.0,64978.0,255208.0,142475.0
69566,1729619,346357,1.0,NaN,NaN,78511.0,115859.0,115871.0,270105.0,70625.0
28108,190397,147287,NaN,1.0,66180.0,70618.0,54087.0,70625.0,78105.0,109806.0
38474,1702866,198247,NaN,NaN,91140.0,70625.0,70618.0,115355.0,235879.0,189631.0
50183,352435,252347,NaN,NaN,116081.0,186445.0,48949.0,11957.0,168623.0,48984.0
38510,1154967,198582,NaN,NaN,91315.0,115355.0,70618.0,81223.0,204282.0,70251.0
16913,564251,77884,NaN,NaN,39473.0,189631.0,54087.0,29049.0,81223.0,138266.0
55138,1627050,276834,NaN,1.0,127374.0,11242.0,11056.0,205245.0,115355.0,187594.0
11153,3858140,52124,NaN,NaN,26276.0,115355.0,115752.0,11056.0,205245.0,35060.0
54219,1576670,271661,NaN,NaN,124857.0,76913.0,191177.0,19500.0,170251.0,232629.0
9245,266002,44153,NaN,NaN,NaN,11412.0,84911.0,84913.0,25675.0,2370.0
36521,3275087,188004,NaN,NaN,86554.0,70618.0,70251.0,134224.0,134139.0,237214.0
53598,3072615,269036,1.0,NaN,123588.0,122769.0,49397.0,211809.0,117167.0,221703.0
26644,2063847,140754,NaN,NaN,62822.0,97480.0,92799.0,169455.0,70625.0,70618.0
92299,97179,450200,NaN,NaN,208773.0,205245.0,124164.0,215342.0,142475.0,218701.0
9041,436453,43620,NaN,NaN,21327.0,115355.0,11056.0,1538.0,1494.0,238317.0
93804,2891817,456920,1.0,NaN,212334.0,31015.0,20000.0,46208.0,31252.0,31256.0
44733,214035,227439,NaN,NaN,104612.0,256796.0,233566.0,271235.0,43212.0,16041.0
61307,2597585,307301,NaN,NaN,NaN,235879.0,21937.0,153933.0,75753.0,75702.0
...,...,...,...,...,...,...,...,...,...,...
74324,2756842,358824,NaN,NaN,167437.0,191177.0,216938.0,115355.0,35060.0,91383.0
99289,3219532,146307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1202,2123656,10400,NaN,NaN,3499.0,175331.0,205245.0,103394.0,154891.0,175333.0
72137,2255045,352875,NaN,NaN,163394.0,11056.0,170251.0,168850.0,11242.0,3982.0
61913,674453,310141,1.0,NaN,142554.0,191251.0,11957.0,18322.0,200537.0,66076.0
47933,1807344,242068,NaN,NaN,111528.0,84597.0,115355.0,84911.0,30878.0,35060.0
63003,678779,315870,NaN,NaN,NaN,226723.0,89467.0,203440.0,199968.0,96409.0
19201,60400,86109,1.0,NaN,43766.0,205245.0,11242.0,100238.0,103394.0,51489.0
26299,3601714,139394,NaN,NaN,62084.0,198998.0,107401.0,72275.0,65347.0,146655.0
94411,3522676,459136,1.0,NaN,213778.0,236955.0,21937.0,18322.0,206121.0,151222.0
22940,419616,114467,NaN,NaN,52526.0,105199.0,103394.0,46208.0,154891.0,61505.0
33274,287186,169548,NaN,NaN,77612.0,115355.0,35060.0,115752.0,205245.0,11056.0
72486,3174998,85732,NaN,NaN,163829.0,205283.0,50604.0,91383.0,194540.0,195173.0
23285,21989,115794,NaN,NaN,NaN,154891.0,175331.0,103394.0,205245.0,11191.0
87276,3185259,419534,NaN,NaN,NaN,171835.0,255208.0,5968.0,70618.0,123323.0
51885,2168398,260550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32045,2790632,163922,1.0,NaN,74498.0,193464.0,92517.0,205245.0,17166.0,124088.0
54259,797846,271948,NaN,NaN,NaN,177424.0,236483.0,3188.0,149023.0,122769.0
9754,2694655,47096,NaN,NaN,23056.0,172690.0,116047.0,103055.0,3982.0,259432.0
96251,215915,20667,NaN,NaN,NaN,87197.0,189631.0,12315.0,81223.0,25809.0
34855,1547275,178090,NaN,NaN,81871.0,212982.0,200458.0,72625.0,72354.0,190991.0
65006,2434145,325072,NaN,NaN,149396.0,115355.0,258180.0,148784.0,222078.0,11242.0
57032,3671664,124222,NaN,NaN,131140.0,205245.0,46208.0,196825.0,3982.0,35060.0
53674,2610366,269363,NaN,NaN,123757.0,3982.0,84597.0,205245.0,163269.0,1263.0
23885,2803471,121281,1.0,NaN,NaN,193395.0,154891.0,193464.0,65576.0,193210.0
8511,1752443,42063,NaN,NaN,20398.0,144067.0,43242.0,65011.0,92476.0,42956.0
81987,897795,388426,NaN,NaN,183924.0,57528.0,177604.0,235902.0,263180.0,131203.0
4873,1996942,26062,NaN,NaN,11558.0,11957.0,70618.0,201869.0,81223.0,30839.0
8186,195774,40714,NaN,NaN,19760.0,54087.0,75574.0,235879.0,233847.0,1655.0
4457,3620450,24885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
IX_items, IX_tgt_items, IX_tgt_playlists, IX_attr = rs.create_sparse_indexes(tracks_info=tr_info_fixed, tracks_reduced=tgt_tr_reduced, attr_list=attributes)
print(IX_items)
print(IX_tgt_items)
print(IX_tgt_playlists)
print(IX_attr)

190289        0
2121734       1
3783220       2
3362029       3
3870449       4
2957114       5
608708        6
1218133       7
45234         8
1275962       9
3003333      10
3173002      11
1729619      12
190397       13
1702866      14
352435       15
1154967      16
564251       17
1627050      18
3858140      19
1576670      20
266002       21
3275087      22
3072615      23
2063847      24
97179        25
436453       26
2891817      27
214035       28
2597585      29
           ...
2756842    4970
3219532    4971
2123656    4972
2255045    4973
674453     4974
1807344    4975
678779     4976
60400      4977
3601714    4978
3522676    4979
419616     4980
287186     4981
3174998    4982
21989      4983
3185259    4984
2168398    4985
2790632    4986
797846     4987
2694655    4988
215915     4989
1547275    4990
2434145    4991
3671664    4992
2610366    4993
2803471    4994
1752443    4995
897795     4996
1996942    4997
195774     4998
3620450    4999
Length: 5000, dtype: int64
3287819      0
2831382      1
2675179      2
1091700      3
1481277      4
2331839      5
3129108      6
1766253      7
3854352      8
1711158      9
1494858     10
2681380     11
1452420     12
3884980     13
491108      14
1275964     15
4474831     16
443566      17
2332086     18
1521514     19
3315809     20
338057      21
3786059     22
2586668     23
2834107     24
2093137     25
209196      26
1927902     27
2227031     28
3867153     29
          ...
2014288    603
1104063    604
4778168    605
2718292    606
1345644    607
1547039    608
3076183    609
263069     610
883490     611
1807344    612
1374934    613
2869787    614
3493280    615
2882283    616
2145392    617
2891215    618
3060693    619
801924     620
2309127    621
2989580    622
906707     623
2969100    624
1242598    625
1171847    626
1896608    627
1120789    628
2285993    629
3554491    630
1227899    631
573738     632
Length: 633, dtype: int64
None
SparseIndexes(artist_id=292479       0
228815       1
418280       2
19144        3
20246        4
337984       5
141098       6
273056       7
50659        8
20847        9
268739      10
3808        11
346357      12
147287      13
198247      14
252347      15
198582      16
77884       17
276834      18
52124       19
271661      20
44153       21
188004      22
269036      23
140754      24
450200      25
43620       26
456920      27
227439      28
307301      29
          ...
464651    3368
414854    3369
398586    3370
310258    3371
334747    3372
353279    3373
351431    3374
252477    3375
122211    3376
253248    3377
348880    3378
454715    3379
163922    3380
357465    3381
154364    3382
146307    3383
352875    3384
310141    3385
315870    3386
459136    3387
169548    3388
419534    3389
271948    3390
20667     3391
178090    3392
269363    3393
42063     3394
388426    3395
26062     3396
40714     3397
Length: 3398, dtype: int64, album=134748.0    3398
105362.0    3399
196282.0    3400
8670.0      3401
155561.0    3402
62923.0     3403
25288.0     3404
8983.0      3405
134123.0    3406
66180.0     3407
91140.0     3408
116081.0    3409
91315.0     3410
39473.0     3411
127374.0    3412
26276.0     3413
124857.0    3414
86554.0     3415
123588.0    3416
62822.0     3417
208773.0    3418
21327.0     3419
212334.0    3420
104612.0    3421
188606.0    3422
187222.0    3423
13069.0     3424
16331.0     3425
3500.0      3426
198624.0    3427
            ...
153889.0    6643
163631.0    6644
115049.0    6645
28587.0     6646
55407.0     6647
3488.0      6648
116669.0    6649
107508.0    6650
160553.0    6651
211016.0    6652
74491.0     6653
166680.0    6654
3499.0      6655
163394.0    6656
142554.0    6657
111528.0    6658
43766.0     6659
62084.0     6660
213778.0    6661
77612.0     6662
163829.0    6663
74498.0     6664
23056.0     6665
81871.0     6666
149396.0    6667
123757.0    6668
20398.0     6669
183924.0    6670
11558.0     6671
19760.0     6672
Length: 3275, dtype: int64, playcount=1.0    6673
dtype: int64, duration=1.0    6674
dtype: int64, tags=27.0         6675
51.0         6676
110.0        6677
208.0        6678
249.0        6679
256.0        6680
343.0        6681
350.0        6682
379.0        6683
431.0        6684
437.0        6685
444.0        6686
487.0        6687
505.0        6688
721.0        6689
739.0        6690
754.0        6691
757.0        6692
816.0        6693
968.0        6694
985.0        6695
1017.0       6696
1055.0       6697
1075.0       6698
1076.0       6699
1077.0       6700
1078.0       6701
1113.0       6702
1114.0       6703
1117.0       6704
            ...
273079.0    11064
273090.0    11065
273180.0    11066
273245.0    11067
273306.0    11068
273501.0    11069
273554.0    11070
273569.0    11071
273748.0    11072
273793.0    11073
273913.0    11074
274293.0    11075
274432.0    11076
274441.0    11077
274514.0    11078
274889.0    11079
275402.0    11080
275410.0    11081
275420.0    11082
275454.0    11083
275588.0    11084
275691.0    11085
275695.0    11086
275920.0    11087
276021.0    11088
276204.0    11089
276220.0    11090
276477.0    11091
276525.0    11092
276560.0    11093
Length: 4419, dtype: int64)

In [15]:
ICM = rs.create_ICM(tr_info_fixed, IX_items, IX_attr, attributes)
print(ICM)

  (0, 0)	1
  (1, 1)	1
  (2, 2)	1
  (3, 3)	1
  (4, 4)	1
  (5, 5)	1
  (6, 6)	1
  (7, 7)	1
  (8, 8)	1
  (9, 9)	1
  (10, 10)	1
  (11, 11)	1
  (12, 12)	1
  (13, 13)	1
  (14, 14)	1
  (15, 15)	1
  (16, 16)	1
  (17, 17)	1
  (18, 18)	1
  (19, 19)	1
  (20, 20)	1
  (21, 21)	1
  (22, 22)	1
  (23, 23)	1
  (24, 24)	1
  :	:
  (6798, 4973)	1
  (7858, 4974)	1
  (7306, 4975)	1
  (8394, 4976)	1
  (7607, 4977)	1
  (9143, 4978)	1
  (9228, 4979)	1
  (7785, 4980)	1
  (6919, 4981)	1
  (9934, 4982)	1
  (6924, 4983)	1
  (8790, 4984)	1
  (8821, 4986)	1
  (8771, 4987)	1
  (10886, 4988)	1
  (7154, 4989)	1
  (9849, 4990)	1
  (6927, 4991)	1
  (7306, 4992)	1
  (6716, 4993)	1
  (9888, 4994)	1
  (7451, 4995)	1
  (8936, 4996)	1
  (7225, 4997)	1
  (6739, 4998)	1

In [16]:
print(ICM.tocsc()[:,999])

  (902, 0)	1
  (4101, 0)	1
  (6674, 0)	1
  (7721, 0)	1
  (7936, 0)	1
  (8604, 0)	1
  (9340, 0)	1
  (10612, 0)	1

In [17]:
print(IX_items.index[IX_items == 999])
print(IX_attr.artist_id.index[IX_attr.artist_id == 902])
print(IX_attr.album.index[IX_attr.album == 1606])
print(IX_attr.playcount.index[IX_attr.playcount == 1606])
print(IX_attr.duration.index[IX_attr.duration == 1608])
print(IX_attr.tags.index[IX_attr.tags.isin([1944, 2008, 2233, 2469, 2884])])

Int64Index([3349672], dtype='int64')
Int64Index([104658], dtype='int64')
Float64Index([], dtype='float64')
Float64Index([], dtype='float64')
Float64Index([], dtype='float64')
Float64Index([], dtype='float64')

In [18]:
tr_info_fixed[tr_info_fixed['track_id'].isin(IX_items.index[IX_items == 999])]

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
20466,3349672,104658,1.0,NaN,47035.0,157349.0,239339.0,58174.0,70251.0,109806.0

In [19]:
if n_min_attr >= 2:
        rs.prune_useless(ICM, n_min_attr)
print(ICM)

Pruning attributes.
Number of attributes before pruning is: 11094
Number of attributes after pruning is: 561
  (0, 0)	1
  (3398, 0)	1
  (6919, 0)	1
  (6929, 0)	1
  (8099, 0)	1
  (8110, 0)	1
  (10545, 0)	1
  (1, 1)	1
  (3399, 1)	1
  (7791, 1)	1
  (7936, 1)	1
  (7944, 1)	1
  (8655, 1)	1
  (9618, 1)	1
  (2, 2)	1
  (3400, 2)	1
  (7230, 2)	1
  (7915, 2)	1
  (8686, 2)	1
  (8771, 2)	1
  (8783, 2)	1
  (3, 3)	1
  (6919, 3)	1
  (6927, 3)	1
  (8139, 3)	1
  :	:
  (7836, 4995)	1
  (8310, 4995)	1
  (9097, 4995)	1
  (3395, 4996)	1
  (6670, 4996)	1
  (7710, 4996)	1
  (8936, 4996)	1
  (9657, 4996)	1
  (10547, 4996)	1
  (10937, 4996)	1
  (3396, 4997)	1
  (6671, 4997)	1
  (6940, 4997)	1
  (7225, 4997)	1
  (7944, 4997)	1
  (8140, 4997)	1
  (10033, 4997)	1
  (3397, 4998)	1
  (6672, 4998)	1
  (6739, 4998)	1
  (7639, 4998)	1
  (8043, 4998)	1
  (10519, 4998)	1
  (10545, 4998)	1
  (1466, 4999)	1

In [20]:
S = rs.create_Smatrix(ICM, n_el_sim, measure, shrinkage, IX_tgt_items, IX_items)
print(S)

Computed 0 similarities over 5000 with dot measure and 0 shrinkage.
Computed 1000 similarities over 5000 with dot measure and 0 shrinkage.
Computed 2000 similarities over 5000 with dot measure and 0 shrinkage.
Computed 3000 similarities over 5000 with dot measure and 0 shrinkage.
Computed 4000 similarities over 5000 with dot measure and 0 shrinkage.
  (0, 433)	1.0
  (0, 159)	1.0
  (0, 158)	1.0
  (0, 437)	1.0
  (0, 438)	1.0
  (0, 441)	1.0
  (0, 476)	1.0
  (0, 448)	1.0
  (0, 142)	1.0
  (0, 279)	1.0
  (0, 139)	1.0
  (0, 138)	1.0
  (0, 460)	1.0
  (0, 465)	1.0
  (0, 466)	1.0
  (0, 471)	1.0
  (0, 128)	1.0
  (0, 143)	1.0
  (0, 0)	1.0
  (0, 50)	2.0
  (1, 557)	2.0
  (1, 556)	2.0
  (1, 396)	2.0
  (1, 166)	2.0
  (1, 126)	2.0
  :	:
  (4998, 113)	1.0
  (4998, 200)	1.0
  (4998, 400)	2.0
  (4998, 381)	2.0
  (4998, 127)	2.0
  (4999, 217)	0.0
  (4999, 215)	0.0
  (4999, 199)	0.0
  (4999, 200)	0.0
  (4999, 201)	0.0
  (4999, 202)	0.0
  (4999, 203)	0.0
  (4999, 204)	0.0
  (4999, 205)	0.0
  (4999, 216)	0.0
  (4999, 206)	0.0
  (4999, 208)	0.0
  (4999, 209)	0.0
  (4999, 210)	0.0
  (4999, 211)	0.0
  (4999, 212)	0.0
  (4999, 213)	0.0
  (4999, 214)	0.0
  (4999, 207)	0.0
  (4999, 632)	0.0

In [21]:
print(S.tocsr()[567,:])

  (0, 0)	2.0
  (0, 118)	2.0
  (0, 128)	2.0
  (0, 138)	2.0
  (0, 139)	2.0
  (0, 143)	2.0
  (0, 158)	2.0
  (0, 159)	2.0
  (0, 160)	2.0
  (0, 167)	2.0
  (0, 334)	2.0
  (0, 342)	2.0
  (0, 360)	2.0
  (0, 373)	3.0
  (0, 465)	2.0
  (0, 466)	2.0
  (0, 549)	2.0
  (0, 552)	2.0
  (0, 553)	2.0
  (0, 611)	3.0

In [22]:
tr_info_fixed[tr_info_fixed['track_id'].isin(IX_items.index[IX_items == 567])]

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
97527,89213,147566,NaN,NaN,NaN,205245.0,11056.0,190049.0,78358.0,1625.0

In [23]:
tr_info_fixed[tr_info_fixed['track_id'].isin(IX_tgt_items.index[IX_tgt_items == 34])]

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
57032,3671664,124222,NaN,NaN,131140.0,205245.0,46208.0,196825.0,3982.0,35060.0

In [24]:
aux1, aux2, IX_tgt_playlists, aux3 = rs.create_sparse_indexes(playlists=tgt_pl_reduced)
print(aux1)
print(aux2)
print(IX_tgt_playlists)
print(aux3)

None
None
4882971        0
6046874        1
8533821        2
6153726        3
10456075       4
3157750        5
6715922        6
11397447       7
10664669       8
8284414        9
3706456       10
7615511       11
6737079       12
8595246       13
8203783       14
7480280       15
11552358      16
2831641       17
11121151      18
5693333       19
3151352       20
5807834       21
7633028       22
6280682       23
10750847      24
10407885      25
3579647       26
8574412       27
7619099       28
5825778       29
            ...
8886557     2663
276955      2664
4561376     2665
4196374     2666
5139836     2667
7541346     2668
3596722     2669
1271356     2670
7541139     2671
7198028     2672
4484173     2673
7155535     2674
7021047     2675
6564876     2676
10289012    2677
7771348     2678
4773701     2679
5296286     2680
10528864    2681
4886191     2682
3738857     2683
4029114     2684
10884026    2685
7541991     2686
5552162     2687
6147616     2688
376810      2689
7541836     2690
104834      2691
10308008    2692
Length: 2693, dtype: int64
None

In [25]:
URM = rs.create_tgt_URM(IX_tgt_playlists, IX_items, train_reduced)
URM = URM.tocsr()
print(URM)

Calculated 0 users ratings over 2693
Calculated 1000 users ratings over 2693
Calculated 2000 users ratings over 2693
  (0, 2313)	1
  (1, 39)	1
  (1, 137)	1
  (1, 400)	1
  (1, 756)	1
  (1, 4740)	1
  (2, 2866)	1
  (3, 1759)	1
  (4, 216)	1
  (4, 347)	1
  (4, 964)	1
  (4, 3844)	1
  (4, 4315)	1
  (4, 4597)	1
  (4, 4687)	1
  (5, 1460)	1
  (5, 1616)	1
  (5, 1902)	1
  (5, 1952)	1
  (5, 2494)	1
  (5, 3087)	1
  (5, 4055)	1
  (6, 449)	1
  (7, 39)	1
  (7, 140)	1
  :	:
  (2685, 1634)	1
  (2685, 2068)	1
  (2685, 4139)	1
  (2685, 4891)	1
  (2686, 262)	1
  (2686, 810)	1
  (2686, 1438)	1
  (2686, 1493)	1
  (2686, 2241)	1
  (2686, 2290)	1
  (2686, 4162)	1
  (2687, 534)	1
  (2687, 2177)	1
  (2688, 3089)	1
  (2688, 3361)	1
  (2688, 4291)	1
  (2689, 926)	1
  (2689, 3252)	1
  (2690, 454)	1
  (2690, 4393)	1
  (2691, 3115)	1
  (2691, 3715)	1
  (2692, 46)	1
  (2692, 862)	1
  (2692, 1982)	1

In [26]:
print(URM[0,:])

  (0, 2313)	1

In [27]:
IX_items.index[IX_items == 2584]

Int64Index([1960209], dtype='int64')

In [28]:
train_reduced[train_reduced['playlist_id'].isin(IX_tgt_playlists.index[IX_tgt_playlists == 0])]

        playlist_id  track_id
605987      4882971    200307

In [29]:
tgt_pl_reduced

      playlist_id
0         4882971
1         6046874
2         8533821
3         6153726
4        10456075
5         3157750
7         6715922
10       11397447
13       10664669
14        8284414
15        3706456
17        7615511
18        6737079
19        8595246
20        8203783
21        7480280
22       11552358
25        2831641
26       11121151
27        5693333
28        3151352
34        5807834
35        7633028
36        6280682
37       10750847
38       10407885
39        3579647
40        8574412
41        7619099
43        5825778
...           ...
4375      1271356
4376      8314849
4377      7541139
4379      6623007
4381      7198028
4382      4484173
4383      7155535
4384      7021047
4386      6564876
4387      8186946
4389     10289012
4391      5598423
4392      7771348
4393      4773701
4396      5296286
4397     10528864
4399      4886191
4401      3738857
4402     11004283
4403      4029114
4404      3586282
4405     10884026
4406      7541991
4407      5552162
4409      6147616
4412       376810
4414        56885
4415      7541836
4416       104834
4417     10308008

[2976 rows x 1 columns]

In [30]:
recommendetions = np.array([])
for p in IX_tgt_playlists.values:
            avg_sims = URM[p,:].dot(S).toarray().ravel()
            top = rs.top5_outside_playlist(avg_sims, p, train_reduced, IX_tgt_playlists, IX_tgt_items)
            recommendetions = np.append(recommendetions, rs.sub_format(top))
            if (p % 1000 == 0):
                print('Recommended ' + str(p) + ' users over ' + str(IX_tgt_playlists.values.shape[0]))
print(recommendetions.shape[0])
print(tgt_pl_reduced['playlist_id'].shape[0])
print(IX_tgt_playlists.shape[0])
#recs = pd.DataFrame(data=np.array([tgt_pl_reduced['playlist_id'], recommendetions]).transpose() , index=range(IX_tgt_playlists.shape[0]), columns=['playlist_id', 'track_ids'])
recs = pd.DataFrame({'playlist_id' : IX_tgt_playlists.index.values, 'track_ids' : recommendetions})
recs

Recommended 0 users over 2693
Recommended 1000 users over 2693
Recommended 2000 users over 2693
2693
2976
2693

      playlist_id                                track_ids
0         4882971   644382 1105850 1692221 1102113 1085145
1         6046874    1387672 3705881 287886 3287819 335496
2         8533821     657164 324994 2367877 1181241 189773
3         6153726    2204983 2359404 1681801 1374934 22480
4        10456075    846351 1105850 3691725 644382 2628117
5         3157750   661804 1938155 1464803 1171847 3287819
6         6715922    2894044 353487 1218122 620399 3290134
7        11397447   287886 3513997 3532600 1978398 2718292
8        10664669    1212903 444451 251926 2754813 1790519
9         8284414    1227621 1530472 676092 522297 1707628
10        3706456   1137690 3513997 1188811 2077566 961859
11        7615511   234832 1088475 2247131 1056031 3078945
12        6737079   1105850 846351 3846669 2388710 1494858
13        8595246    1056031 3346891 281321 2247131 618747
14        8203783     1960933 78234 3685453 3557822 225653
15        7480280   1168999 938435 1350944 1678059 2014288
16       11552358   797846 2653271 3608306 1155078 1088475
17        2831641    2227031 2739747 1927902 133091 797846
18       11121151    1218122 573738 644382 3142058 3239800
19        5693333   2204983 311910 2894212 1969683 1168999
20        3151352  2788426 3746618 3842344 2509644 2330305
21        5807834  2225593 1462692 3216729 3558479 2263840
22        7633028  4503243 3381720 3217923 3554491 3132771
23        6280682    335496 442899 1521514 2330305 2911518
24       10750847   163670 1060235 1994478 1587557 2754813
25       10407885   3470421 1336998 2330305 2788426 375801
26        3579647    341974 1060235 2243161 3046043 373808
27        8574412  1201485 3347871 1060235 3739249 3626264
28        7619099   3225735 377148 3858140 3532600 3513997
29        5825778  3846669 3428367 2448296 2388710 1402129
...           ...                                      ...
2663      8886557    1760154 588994 2642809 3723962 412538
2664       276955    545960 543519 2246947 3705320 3209847
2665      4561376  3209847 3602716 3346891 3720234 1126266
2666      4196374   2859364 1953545 2337928 217067 1790519
2667      5139836    375801 3854642 2739747 2227031 133091
2668      7541346    3302552 2843597 193001 329741 2333164
2669      3596722    330927 341974 1510424 2333164 2243161
2670      1271356   3513997 3225735 2140990 3858140 377148
2671      7541139      287886 522297 15136 3858140 3225735
2672      7198028    1678059 1567920 2014288 938435 311910
2673      4484173   2337928 281321 2491432 3846669 1402129
2674      7155535     2751975 353194 655473 3414685 332490
2675      7021047   1091700 1570986 1387672 189773 2788426
2676      6564876   926181 2910342 3858140 1345644 1521514
2677     10289012   377148 3225735 3532600 3513997 3858140
2678      7771348   2553607 2799575 291307 2327566 2843597
2679      4773701   2601174 263069 3767515 3174957 2367877
2680      5296286   377148 3225735 3532600 3513997 3858140
2681     10528864  3883219 3210343 3660021 2940525 3219150
2682      4886191  1421096 2309127 2578697 1938155 1744508
2683      3738857    1801360 287886 3532600 3225735 522297
2684      4029114   3046043 687114 2891559 3163739 1943807
2685     10884026     947635 2911518 78234 2093137 2491432
2686      7541991    655473 1081479 3550491 2247131 618747
2687      5552162   3219150 376214 3239800 2319807 1943807
2688      6147616   671153 1510424 2256874 4838753 2224091
2689       376810     193001 2333164 373808 330927 2243161
2690      7541836   671153 1510424 2256874 3231223 4838753
2691       104834   1201485 1481277 2805282 330927 1072691
2692     10308008   2077566 2330305 609458 2509644 3842344

[2693 rows x 2 columns]

In [31]:
train_reduced[train_reduced['playlist_id'] == 10024884]

Empty DataFrame
Columns: [playlist_id, track_id]
Index: []

In [32]:
recs[recs['playlist_id'] == 10024884]

Empty DataFrame
Columns: [playlist_id, track_ids]
Index: []

In [33]:
print(IX_tgt_items.loc[[3126216, 1647524, 3091415, 1675995, 2788349]])
print(IX_items.loc[[897319, 2726115]])

3126216      NaN
1647524      NaN
3091415      NaN
1675995      NaN
2788349    321.0
dtype: float64
897319     575
2726115    642
dtype: int64

In [34]:
print(S.tocsc()[575, [244,262,47,49,60]])
print('\n')
print(S.tocsc()[575, :])
print('\n')
print(S.tocsc()[642, [244,262,47,49,60]])
print('\n')
print(S.tocsc()[642, :])

  (0, 32)	2.0
  (0, 56)	2.0
  (0, 57)	2.0
  (0, 122)	2.0
  (0, 124)	2.0
  (0, 217)	2.0
  (0, 243)	3.0
  (0, 305)	2.0
  (0, 322)	2.0
  (0, 342)	2.0
  (0, 360)	2.0
  (0, 380)	2.0
  (0, 388)	2.0
  (0, 473)	2.0
  (0, 474)	2.0
  (0, 476)	2.0
  (0, 506)	2.0
  (0, 579)	2.0
  (0, 586)	2.0
  (0, 588)	2.0





  (0, 57)	2.0
  (0, 85)	1.0
  (0, 167)	1.0
  (0, 189)	1.0
  (0, 217)	1.0
  (0, 223)	1.0
  (0, 227)	1.0
  (0, 228)	1.0
  (0, 243)	2.0
  (0, 279)	1.0
  (0, 342)	1.0
  (0, 352)	1.0
  (0, 388)	1.0
  (0, 389)	1.0
  (0, 395)	1.0
  (0, 457)	1.0
  (0, 520)	1.0
  (0, 523)	1.0
  (0, 527)	1.0
  (0, 528)	1.0

In [35]:
map_eval = rs.evaluate(recs, test_reduced, 'MAP')
map_eval

ZeroDivisionError: ('float division by zero', 'occurred at index 0')