In [1]:
import numpy as np
import pandas as pd
import recsys as rs

In [2]:
dataset = pd.read_csv('Data/train_final.csv','\t')
tr_info = pd.read_csv('Data/tracks_final.csv','\t')
tgt_pl = pd.read_csv('Data/target_playlists.csv','\t')
tgt_tr = pd.read_csv('Data/target_tracks.csv','\t')
attributes = ['artist_id', 'album', 'tags', 'playcount', 'duration']
n_min_attr = 5
n_el_sim = 20
measure = 'dot'
shrinkage = 0
min_tracks_in_playlist=10
test_percentage=20
n_tracks_toremove=5
seed=2517

In [3]:
tr_info_reduced = tr_info.sample(n=5000, random_state=2517, axis=0)
tr_info_reduced

,track_id,artist_id,duration,playcount,album,tags
58953,190289,292479,195000,64.0,[134748],"[235879, 11056, 11374, 79716, 79259]"
45209,2121734,228815,306000,4328.0,[105362],"[61837, 70618, 70251, 115355, 175099]"
87223,3783220,418280,195000,23.0,[196282],"[122769, 117167, 123107, 68498, 31015]"
2934,3362029,19144,189000,1262.0,[None],"[190112, 205245, 11056, 81211, 11242]"
3174,3870449,20246,268000,351.0,[8670],"[228654, 189631, 11653, 81223, 228763]"
67666,2957114,337984,261000,874.0,[155561],"[31015, 31253, 100810, 31065, 81223]"
26733,608708,141098,336000,357.0,[62923],"[263180, 29723, 193238, 154891, 266785]"
54474,1218133,273056,353000,37.0,[None],"[201327, 207510, 66029, 121374, 201535]"
10620,45234,50659,270000,45.0,[25288],"[205245, 194264, 103394, 231854, 194413]"
3286,1275962,20847,191000,336.0,[8983],"[11056, 115752, 209678, 59632, 130293]"
53532,3003333,268739,268000,1227.0,[None],"[4425, 68498, 264053, 81223, 270182]"
58685,3173002,3808,315000,2641.0,[134123],"[70618, 5968, 64978, 255208, 142475]"
69566,1729619,346357,464000,772.0,[None],"[78511, 115859, 115871, 270105, 70625]"
28108,190397,147287,221000,46556.0,[66180],"[70618, 54087, 70625, 78105, 109806]"
38474,1702866,198247,205000,1.0,[91140],"[70625, 70618, 115355, 235879, 189631]"
50183,352435,252347,194000,175.0,[116081],"[186445, 48949, 11957, 168623, 48984]"
38510,1154967,198582,169000,25.0,[91315],"[115355, 70618, 81223, 204282, 70251]"
16913,564251,77884,261000,1799.0,[39473],"[189631, 54087, 29049, 81223, 138266]"
55138,1627050,276834,173000,13613.0,[127374],"[11242, 11056, 205245, 115355, 187594]"
11153,3858140,52124,289000,1236.0,[26276],"[115355, 115752, 11056, 205245, 35060]"
54219,1576670,271661,308000,1399.0,[124857],"[76913, 191177, 19500, 170251, 232629]"
9245,266002,44153,270000,38.0,[None],"[11412, 84911, 84913, 25675, 2370]"
36521,3275087,188004,280000,1.0,[86554],"[70618, 70251, 134224, 134139, 237214]"
53598,3072615,269036,420000,349.0,[123588],"[122769, 49397, 211809, 117167, 221703]"
26644,2063847,140754,229000,1163.0,[62822],"[97480, 92799, 169455, 70625, 70618]"
92299,97179,450200,334000,5292.0,[208773],"[205245, 124164, 215342, 142475, 218701]"
9041,436453,43620,229000,594.0,[21327],"[115355, 11056, 1538, 1494, 238317]"
93804,2891817,456920,1082000,439.0,[212334],"[31015, 20000, 46208, 31252, 31256]"
44733,214035,227439,309000,4380.0,[104612],"[256796, 233566, 271235, 43212, 16041]"
61307,2597585,307301,183000,1332.0,[None],"[235879, 21937, 153933, 75753, 75702]"
...,...,...,...,...,...,...
74324,2756842,358824,283000,1316.0,[167437],"[191177, 216938, 115355, 35060, 91383]"
99289,3219532,146307,-1,NaN,[],[]
1202,2123656,10400,207000,290.0,[3499],"[175331, 205245, 103394, 154891, 175333]"
72137,2255045,352875,339000,905.0,[163394],"[11056, 170251, 168850, 11242, 3982]"
61913,674453,310141,482000,588.0,[142554],"[191251, 11957, 18322, 200537, 66076]"
47933,1807344,242068,266000,224.0,[111528],"[84597, 115355, 84911, 30878, 35060]"
63003,678779,315870,29000,23.0,[None],"[226723, 89467, 203440, 199968, 96409]"
19201,60400,86109,503000,74.0,[43766],"[205245, 11242, 100238, 103394, 51489]"
26299,3601714,139394,305000,236.0,[62084],"[198998, 107401, 72275, 65347, 146655]"
94411,3522676,459136,429000,2.0,[213778],"[236955, 21937, 18322, 206121, 151222]"
22940,419616,114467,218000,4.0,[52526],"[105199, 103394, 46208, 154891, 61505]"
33274,287186,169548,269000,783.0,[77612],"[115355, 35060, 115752, 205245, 11056]"
72486,3174998,85732,258000,54.0,[163829],"[205283, 50604, 91383, 194540, 195173]"
23285,21989,115794,230000,780.0,[None],"[154891, 175331, 103394, 205245, 11191]"
87276,3185259,419534,277000,1509.0,[None],"[171835, 255208, 5968, 70618, 123323]"
51885,2168398,260550,-1,88.0,[],[]
32045,2790632,163922,387000,229.0,[74498],"[193464, 92517, 205245, 17166, 124088]"
54259,797846,271948,164000,553.0,[None],"[177424, 236483, 3188, 149023, 122769]"
9754,2694655,47096,88000,216.0,[23056],"[172690, 116047, 103055, 3982, 259432]"
96251,215915,20667,201000,104.0,[None],"[87197, 189631, 12315, 81223, 25809]"
34855,1547275,178090,332000,2356.0,[81871],"[212982, 200458, 72625, 72354, 190991]"
65006,2434145,325072,242000,9.0,[149396],"[115355, 258180, 148784, 222078, 11242]"
57032,3671664,124222,262000,26.0,[131140],"[205245, 46208, 196825, 3982, 35060]"
53674,2610366,269363,197000,2882.0,[123757],"[3982, 84597, 205245, 163269, 1263]"
23885,2803471,121281,829000,516.0,[None],"[193395, 154891, 193464, 65576, 193210]"
8511,1752443,42063,190000,14.0,[20398],"[144067, 43242, 65011, 92476, 42956]"
81987,897795,388426,228000,1639.0,[183924],"[57528, 177604, 235902, 263180, 131203]"
4873,1996942,26062,251000,6831.0,[11558],"[11957, 70618, 201869, 81223, 30839]"
8186,195774,40714,165000,929.0,[19760],"[54087, 75574, 235879, 233847, 1655]"
4457,3620450,24885,-1,235.0,[],[]

In [4]:
train_reduced = dataset[dataset['track_id'].isin(tr_info_reduced['track_id'].values)]
train_reduced

         playlist_id  track_id
25           3631223   3114611
26           4144882   1081479
32           8711616   1507344
42           8478147   3620491
43           8234372   3714186
47           6857337   3309392
59           7738073   4474831
73           4186272    723241
108          5967886    543519
115          6666459   3325349
142          6441207   1629252
234          3460756   1136297
270          3756557   3351099
273          4223530    838485
281          7623847   2047628
338          8042290   2839253
354          4892492   1607128
358          6698807   2843232
385          7119396   2331839
405          3852276   4520269
415          2627479    234832
434          8517687   1715293
436          4247134    824691
461          7700272   2995242
463         10075831    569155
475         10831630    159516
488           257142   2640428
489          5467797   1739056
491         11611773   2214091
507          1736357   2668204
...              ...       ...
1039788      4036363   2047628
1039833      3604245   1647509
1039845       150641   1558960
1039852     10493475   3380851
1039883      4602507   2803652
1039908      5389117   3581440
1039930     10929096   3767507
1040023     10022949   2226064
1040076     10644764   3194428
1040085      8533798   1042548
1040123      7182357   3406703
1040136      7289991   3382218
1040170      4396571    315711
1040178      8390167   2114853
1040246      7925529   2263840
1040254      7403282   2866859
1040305      5567365   2489624
1040314      1105792   2894044
1040331      4198813   2509644
1040336       588778   2788426
1040364      8957050    417503
1040379      1018282   3567705
1040388      2367322   1155078
1040397      6641337   1907169
1040401      8628009   3846669
1040405      7542164   2902989
1040406      5236458    808796
1040430      3753506   3236140
1040443     10569085    337652
1040504       790446    245412

[54032 rows x 2 columns]

In [5]:
#tgt_pl_reduced = tgt_playlists[tgt_playlists['playlist_id'].isin(train_reduced['playlist_id'].values)]
#tgt_pl_reduced

In [6]:
#tgt_tr_reduced = tgt_tracks[tgt_tracks['track_id'].isin(train_reduced['track_id'].values)]
#tgt_tr_reduced

In [7]:
#test_reduced = test[test['track_id'].isin(tr_info_reduced['track_id'].values)]
#test_reduced

In [8]:
train, test, tgt_tracks, tgt_playlists = rs.split_train_test(train_reduced, min_tracks_in_playlist, test_percentage, n_tracks_toremove, seed)

In [9]:
tr_info_fixed = rs.fix_tracks_format(tr_info_reduced)
tr_info_fixed

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
58953,190289,292479,NaN,NaN,134748.0,235879.0,11056.0,11374.0,79716.0,79259.0
45209,2121734,228815,NaN,NaN,105362.0,61837.0,70618.0,70251.0,115355.0,175099.0
87223,3783220,418280,NaN,NaN,196282.0,122769.0,117167.0,123107.0,68498.0,31015.0
2934,3362029,19144,NaN,NaN,NaN,190112.0,205245.0,11056.0,81211.0,11242.0
3174,3870449,20246,NaN,NaN,8670.0,228654.0,189631.0,11653.0,81223.0,228763.0
67666,2957114,337984,NaN,NaN,155561.0,31015.0,31253.0,100810.0,31065.0,81223.0
26733,608708,141098,NaN,NaN,62923.0,263180.0,29723.0,193238.0,154891.0,266785.0
54474,1218133,273056,1.0,NaN,NaN,201327.0,207510.0,66029.0,121374.0,201535.0
10620,45234,50659,NaN,NaN,25288.0,205245.0,194264.0,103394.0,231854.0,194413.0
3286,1275962,20847,NaN,NaN,8983.0,11056.0,115752.0,209678.0,59632.0,130293.0
53532,3003333,268739,NaN,NaN,NaN,4425.0,68498.0,264053.0,81223.0,270182.0
58685,3173002,3808,NaN,NaN,134123.0,70618.0,5968.0,64978.0,255208.0,142475.0
69566,1729619,346357,1.0,NaN,NaN,78511.0,115859.0,115871.0,270105.0,70625.0
28108,190397,147287,NaN,1.0,66180.0,70618.0,54087.0,70625.0,78105.0,109806.0
38474,1702866,198247,NaN,NaN,91140.0,70625.0,70618.0,115355.0,235879.0,189631.0
50183,352435,252347,NaN,NaN,116081.0,186445.0,48949.0,11957.0,168623.0,48984.0
38510,1154967,198582,NaN,NaN,91315.0,115355.0,70618.0,81223.0,204282.0,70251.0
16913,564251,77884,NaN,NaN,39473.0,189631.0,54087.0,29049.0,81223.0,138266.0
55138,1627050,276834,NaN,1.0,127374.0,11242.0,11056.0,205245.0,115355.0,187594.0
11153,3858140,52124,NaN,NaN,26276.0,115355.0,115752.0,11056.0,205245.0,35060.0
54219,1576670,271661,NaN,NaN,124857.0,76913.0,191177.0,19500.0,170251.0,232629.0
9245,266002,44153,NaN,NaN,NaN,11412.0,84911.0,84913.0,25675.0,2370.0
36521,3275087,188004,NaN,NaN,86554.0,70618.0,70251.0,134224.0,134139.0,237214.0
53598,3072615,269036,1.0,NaN,123588.0,122769.0,49397.0,211809.0,117167.0,221703.0
26644,2063847,140754,NaN,NaN,62822.0,97480.0,92799.0,169455.0,70625.0,70618.0
92299,97179,450200,NaN,NaN,208773.0,205245.0,124164.0,215342.0,142475.0,218701.0
9041,436453,43620,NaN,NaN,21327.0,115355.0,11056.0,1538.0,1494.0,238317.0
93804,2891817,456920,1.0,NaN,212334.0,31015.0,20000.0,46208.0,31252.0,31256.0
44733,214035,227439,NaN,NaN,104612.0,256796.0,233566.0,271235.0,43212.0,16041.0
61307,2597585,307301,NaN,NaN,NaN,235879.0,21937.0,153933.0,75753.0,75702.0
...,...,...,...,...,...,...,...,...,...,...
74324,2756842,358824,NaN,NaN,167437.0,191177.0,216938.0,115355.0,35060.0,91383.0
99289,3219532,146307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1202,2123656,10400,NaN,NaN,3499.0,175331.0,205245.0,103394.0,154891.0,175333.0
72137,2255045,352875,NaN,NaN,163394.0,11056.0,170251.0,168850.0,11242.0,3982.0
61913,674453,310141,1.0,NaN,142554.0,191251.0,11957.0,18322.0,200537.0,66076.0
47933,1807344,242068,NaN,NaN,111528.0,84597.0,115355.0,84911.0,30878.0,35060.0
63003,678779,315870,NaN,NaN,NaN,226723.0,89467.0,203440.0,199968.0,96409.0
19201,60400,86109,1.0,NaN,43766.0,205245.0,11242.0,100238.0,103394.0,51489.0
26299,3601714,139394,NaN,NaN,62084.0,198998.0,107401.0,72275.0,65347.0,146655.0
94411,3522676,459136,1.0,NaN,213778.0,236955.0,21937.0,18322.0,206121.0,151222.0
22940,419616,114467,NaN,NaN,52526.0,105199.0,103394.0,46208.0,154891.0,61505.0
33274,287186,169548,NaN,NaN,77612.0,115355.0,35060.0,115752.0,205245.0,11056.0
72486,3174998,85732,NaN,NaN,163829.0,205283.0,50604.0,91383.0,194540.0,195173.0
23285,21989,115794,NaN,NaN,NaN,154891.0,175331.0,103394.0,205245.0,11191.0
87276,3185259,419534,NaN,NaN,NaN,171835.0,255208.0,5968.0,70618.0,123323.0
51885,2168398,260550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32045,2790632,163922,1.0,NaN,74498.0,193464.0,92517.0,205245.0,17166.0,124088.0
54259,797846,271948,NaN,NaN,NaN,177424.0,236483.0,3188.0,149023.0,122769.0
9754,2694655,47096,NaN,NaN,23056.0,172690.0,116047.0,103055.0,3982.0,259432.0
96251,215915,20667,NaN,NaN,NaN,87197.0,189631.0,12315.0,81223.0,25809.0
34855,1547275,178090,NaN,NaN,81871.0,212982.0,200458.0,72625.0,72354.0,190991.0
65006,2434145,325072,NaN,NaN,149396.0,115355.0,258180.0,148784.0,222078.0,11242.0
57032,3671664,124222,NaN,NaN,131140.0,205245.0,46208.0,196825.0,3982.0,35060.0
53674,2610366,269363,NaN,NaN,123757.0,3982.0,84597.0,205245.0,163269.0,1263.0
23885,2803471,121281,1.0,NaN,NaN,193395.0,154891.0,193464.0,65576.0,193210.0
8511,1752443,42063,NaN,NaN,20398.0,144067.0,43242.0,65011.0,92476.0,42956.0
81987,897795,388426,NaN,NaN,183924.0,57528.0,177604.0,235902.0,263180.0,131203.0
4873,1996942,26062,NaN,NaN,11558.0,11957.0,70618.0,201869.0,81223.0,30839.0
8186,195774,40714,NaN,NaN,19760.0,54087.0,75574.0,235879.0,233847.0,1655.0
4457,3620450,24885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
tr_info_fixed = rs.delete_low_frequency_attributes(tr_info_fixed, attributes, n_min_attr)
tr_info_fixed

In [10]:
IX_items, IX_tgt_items, IX_tgt_playlists, IX_attr = rs.create_sparse_indexes(tracks_info=tr_info_fixed, tracks_reduced=tgt_tracks, attr_list=attributes)
print(IX_items)
print(IX_tgt_items)
print(IX_tgt_playlists)
print(IX_attr)

190289        0
2121734       1
3783220       2
3362029       3
3870449       4
2957114       5
608708        6
1218133       7
45234         8
1275962       9
3003333      10
3173002      11
1729619      12
190397       13
1702866      14
352435       15
1154967      16
564251       17
1627050      18
3858140      19
1576670      20
266002       21
3275087      22
3072615      23
2063847      24
97179        25
436453       26
2891817      27
214035       28
2597585      29
           ...
2756842    4970
3219532    4971
2123656    4972
2255045    4973
674453     4974
1807344    4975
678779     4976
60400      4977
3601714    4978
3522676    4979
419616     4980
287186     4981
3174998    4982
21989      4983
3185259    4984
2168398    4985
2790632    4986
797846     4987
2694655    4988
215915     4989
1547275    4990
2434145    4991
3671664    4992
2610366    4993
2803471    4994
1752443    4995
897795     4996
1996942    4997
195774     4998
3620450    4999
Length: 5000, dtype: int64
2146830      0
3414685      1
2299849      2
168894       3
1155832      4
3727132      5
436453       6
1523285      7
2388710      8
290849       9
1885521     10
2859364     11
2483925     12
1053213     13
2067756     14
3647261     15
3705881     16
2985841     17
1707628     18
1185658     19
3231223     20
2333164     21
3668788     22
1647509     23
2401245     24
134408      25
608795      26
1374934     27
904737      28
2359404     29
          ...
1832075    321
2799186    322
939555     323
689962     324
3550491    325
425367     326
1244149    327
696644     328
3287819    329
448230     330
2391653    331
3753681    332
193001     333
2765680    334
2047628    335
2330671    336
1498799    337
2137439    338
1857583    339
3543380    340
1445410    341
2557730    342
3746618    343
166582     344
3232626    345
2066793    346
3641292    347
2535373    348
1885513    349
245412     350
Length: 351, dtype: int64
None
SparseIndexes(artist_id=292479       0
228815       1
418280       2
19144        3
20246        4
337984       5
141098       6
273056       7
50659        8
20847        9
268739      10
3808        11
346357      12
147287      13
198247      14
252347      15
198582      16
77884       17
276834      18
52124       19
271661      20
44153       21
188004      22
269036      23
140754      24
450200      25
43620       26
456920      27
227439      28
307301      29
          ...
464651    3368
414854    3369
398586    3370
310258    3371
334747    3372
353279    3373
351431    3374
252477    3375
122211    3376
253248    3377
348880    3378
454715    3379
163922    3380
357465    3381
154364    3382
146307    3383
352875    3384
310141    3385
315870    3386
459136    3387
169548    3388
419534    3389
271948    3390
20667     3391
178090    3392
269363    3393
42063     3394
388426    3395
26062     3396
40714     3397
Length: 3398, dtype: int64, album=134748.0    3398
105362.0    3399
196282.0    3400
8670.0      3401
155561.0    3402
62923.0     3403
25288.0     3404
8983.0      3405
134123.0    3406
66180.0     3407
91140.0     3408
116081.0    3409
91315.0     3410
39473.0     3411
127374.0    3412
26276.0     3413
124857.0    3414
86554.0     3415
123588.0    3416
62822.0     3417
208773.0    3418
21327.0     3419
212334.0    3420
104612.0    3421
188606.0    3422
187222.0    3423
13069.0     3424
16331.0     3425
3500.0      3426
198624.0    3427
            ...
153889.0    6643
163631.0    6644
115049.0    6645
28587.0     6646
55407.0     6647
3488.0      6648
116669.0    6649
107508.0    6650
160553.0    6651
211016.0    6652
74491.0     6653
166680.0    6654
3499.0      6655
163394.0    6656
142554.0    6657
111528.0    6658
43766.0     6659
62084.0     6660
213778.0    6661
77612.0     6662
163829.0    6663
74498.0     6664
23056.0     6665
81871.0     6666
149396.0    6667
123757.0    6668
20398.0     6669
183924.0    6670
11558.0     6671
19760.0     6672
Length: 3275, dtype: int64, playcount=1.0    6673
dtype: int64, duration=1.0    6674
dtype: int64, tags=27.0         6675
51.0         6676
110.0        6677
208.0        6678
249.0        6679
256.0        6680
343.0        6681
350.0        6682
379.0        6683
431.0        6684
437.0        6685
444.0        6686
487.0        6687
505.0        6688
721.0        6689
739.0        6690
754.0        6691
757.0        6692
816.0        6693
968.0        6694
985.0        6695
1017.0       6696
1055.0       6697
1075.0       6698
1076.0       6699
1077.0       6700
1078.0       6701
1113.0       6702
1114.0       6703
1117.0       6704
            ...
273079.0    11064
273090.0    11065
273180.0    11066
273245.0    11067
273306.0    11068
273501.0    11069
273554.0    11070
273569.0    11071
273748.0    11072
273793.0    11073
273913.0    11074
274293.0    11075
274432.0    11076
274441.0    11077
274514.0    11078
274889.0    11079
275402.0    11080
275410.0    11081
275420.0    11082
275454.0    11083
275588.0    11084
275691.0    11085
275695.0    11086
275920.0    11087
276021.0    11088
276204.0    11089
276220.0    11090
276477.0    11091
276525.0    11092
276560.0    11093
Length: 4419, dtype: int64)

In [11]:
ICM = rs.create_ICM(tr_info_fixed, IX_items, IX_attr, attributes)
print(ICM)

  (0, 0)	1
  (1, 1)	1
  (2, 2)	1
  (3, 3)	1
  (4, 4)	1
  (5, 5)	1
  (6, 6)	1
  (7, 7)	1
  (8, 8)	1
  (9, 9)	1
  (10, 10)	1
  (11, 11)	1
  (12, 12)	1
  (13, 13)	1
  (14, 14)	1
  (15, 15)	1
  (16, 16)	1
  (17, 17)	1
  (18, 18)	1
  (19, 19)	1
  (20, 20)	1
  (21, 21)	1
  (22, 22)	1
  (23, 23)	1
  (24, 24)	1
  :	:
  (6798, 4973)	1
  (7858, 4974)	1
  (7306, 4975)	1
  (8394, 4976)	1
  (7607, 4977)	1
  (9143, 4978)	1
  (9228, 4979)	1
  (7785, 4980)	1
  (6919, 4981)	1
  (9934, 4982)	1
  (6924, 4983)	1
  (8790, 4984)	1
  (8821, 4986)	1
  (8771, 4987)	1
  (10886, 4988)	1
  (7154, 4989)	1
  (9849, 4990)	1
  (6927, 4991)	1
  (7306, 4992)	1
  (6716, 4993)	1
  (9888, 4994)	1
  (7451, 4995)	1
  (8936, 4996)	1
  (7225, 4997)	1
  (6739, 4998)	1

In [12]:
print(ICM.tocsc()[:,999])

  (902, 0)	1
  (4101, 0)	1
  (6674, 0)	1
  (7721, 0)	1
  (7936, 0)	1
  (8604, 0)	1
  (9340, 0)	1
  (10612, 0)	1

In [13]:
print(IX_items.index[IX_items == 999])
print(IX_attr.artist_id.index[IX_attr.artist_id == 902])
print(IX_attr.album.index[IX_attr.album == 4101])
print(IX_attr.playcount.index[IX_attr.playcount == 6674])
print(IX_attr.duration.index[IX_attr.duration == 6674])
print(IX_attr.tags.index[IX_attr.tags.isin([7721, 7936, 8604, 9340, 10612])])

Int64Index([3349672], dtype='int64')
Int64Index([104658], dtype='int64')
Float64Index([47035.0], dtype='float64')
Float64Index([], dtype='float64')
Float64Index([1.0], dtype='float64')
Float64Index([58174.0, 70251.0, 109806.0, 157349.0, 239339.0], dtype='float64')

In [14]:
tr_info_fixed[tr_info_fixed['track_id'].isin(IX_items.index[IX_items == 999])]

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
20466,3349672,104658,1.0,NaN,47035.0,157349.0,239339.0,58174.0,70251.0,109806.0

In [15]:
#if n_min_attr >= 2:
#        rs.prune_useless(ICM, n_min_attr)
print(ICM)

Pruning attributes.
Number of attributes before pruning is: 11094
Number of attributes after pruning is: 561
  (0, 0)	1
  (3398, 0)	1
  (6919, 0)	1
  (6929, 0)	1
  (8099, 0)	1
  (8110, 0)	1
  (10545, 0)	1
  (1, 1)	1
  (3399, 1)	1
  (7791, 1)	1
  (7936, 1)	1
  (7944, 1)	1
  (8655, 1)	1
  (9618, 1)	1
  (2, 2)	1
  (3400, 2)	1
  (7230, 2)	1
  (7915, 2)	1
  (8686, 2)	1
  (8771, 2)	1
  (8783, 2)	1
  (3, 3)	1
  (6919, 3)	1
  (6927, 3)	1
  (8139, 3)	1
  :	:
  (7836, 4995)	1
  (8310, 4995)	1
  (9097, 4995)	1
  (3395, 4996)	1
  (6670, 4996)	1
  (7710, 4996)	1
  (8936, 4996)	1
  (9657, 4996)	1
  (10547, 4996)	1
  (10937, 4996)	1
  (3396, 4997)	1
  (6671, 4997)	1
  (6940, 4997)	1
  (7225, 4997)	1
  (7944, 4997)	1
  (8140, 4997)	1
  (10033, 4997)	1
  (3397, 4998)	1
  (6672, 4998)	1
  (6739, 4998)	1
  (7639, 4998)	1
  (8043, 4998)	1
  (10519, 4998)	1
  (10545, 4998)	1
  (1466, 4999)	1

In [16]:
S = rs.create_Smatrix(ICM, n_el_sim, measure, shrinkage, IX_tgt_items, IX_items)
print(S)

Computed 0 similarities over 5000 with cos measure and 5 shrinkage.
Computed 1000 similarities over 5000 with cos measure and 5 shrinkage.
Computed 2000 similarities over 5000 with cos measure and 5 shrinkage.
Computed 3000 similarities over 5000 with cos measure and 5 shrinkage.
Computed 4000 similarities over 5000 with cos measure and 5 shrinkage.
  (0, 204)	0.0833333333333
  (0, 43)	0.0833333333333
  (0, 107)	0.0833333333333
  (0, 208)	0.0833333333333
  (0, 225)	0.0833333333333
  (0, 282)	0.0833333333333
  (0, 211)	0.0833333333333
  (0, 108)	0.087102394024
  (0, 8)	0.087102394024
  (0, 283)	0.087102394024
  (0, 85)	0.087102394024
  (0, 334)	0.087102394024
  (0, 171)	0.087102394024
  (0, 15)	0.087102394024
  (0, 287)	0.087102394024
  (0, 23)	0.087102394024
  (0, 326)	0.087102394024
  (0, 18)	0.087102394024
  (0, 314)	0.087102394024
  (0, 260)	0.166666666667
  (1, 138)	0.087102394024
  (1, 145)	0.087102394024
  (1, 9)	0.087102394024
  (1, 137)	0.087102394024
  (1, 18)	0.087102394024
  :	:
  (4998, 109)	0.0833333333333
  (4998, 100)	0.087102394024
  (4998, 34)	0.087102394024
  (4998, 132)	0.087102394024
  (4998, 287)	0.087102394024
  (4999, 128)	0.0
  (4999, 127)	0.0
  (4999, 126)	0.0
  (4999, 125)	0.0
  (4999, 124)	0.0
  (4999, 123)	0.0
  (4999, 122)	0.0
  (4999, 121)	0.0
  (4999, 109)	0.0
  (4999, 120)	0.0
  (4999, 118)	0.0
  (4999, 117)	0.0
  (4999, 116)	0.0
  (4999, 115)	0.0
  (4999, 114)	0.0
  (4999, 113)	0.0
  (4999, 112)	0.0
  (4999, 111)	0.0
  (4999, 119)	0.0
  (4999, 350)	0.0

In [17]:
print(S.tocsr()[567,:])

  (0, 15)	0.181818181818
  (0, 17)	0.43551197012
  (0, 18)	0.181818181818
  (0, 23)	0.181818181818
  (0, 65)	0.174204788048
  (0, 67)	0.174204788048
  (0, 70)	0.174204788048
  (0, 71)	0.174204788048
  (0, 85)	0.181818181818
  (0, 108)	0.181818181818
  (0, 171)	0.181818181818
  (0, 217)	0.174204788048
  (0, 225)	0.174204788048
  (0, 228)	0.174204788048
  (0, 230)	0.174204788048
  (0, 234)	0.174204788048
  (0, 249)	0.174204788048
  (0, 283)	0.181818181818
  (0, 314)	0.181818181818
  (0, 326)	0.181818181818

In [18]:
tr_info_fixed[tr_info_fixed['track_id'].isin(IX_items.index[IX_items == 567])]

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
97527,89213,147566,NaN,NaN,NaN,205245.0,11056.0,190049.0,78358.0,1625.0

In [19]:
tr_info_fixed[tr_info_fixed['track_id'].isin(IX_tgt_items.index[IX_tgt_items == 303])]

,track_id,artist_id,duration,playcount,album,tag1,tag2,tag3,tag4,tag5
29491,657074,153381,NaN,NaN,69192.0,144067.0,43212.0,74344.0,158680.0,122769.0

In [20]:
aux1, aux2, IX_tgt_playlists, aux3 = rs.create_sparse_indexes(playlists=tgt_playlists)
print(aux1)
print(aux2)
print(IX_tgt_playlists)
print(aux3)

None
None
7670304      0
7559928      1
7623847      2
11490052     3
44442        4
5896390      5
7751126      6
4916097      7
11266592     8
3510855      9
3167809     10
3841665     11
7656514     12
11400914    13
6364732     14
7069134     15
10831627    16
61413       17
8709232     18
7452956     19
3611013     20
6132763     21
3091337     22
6571192     23
5778535     24
8258539     25
10757724    26
2899769     27
7039000     28
8503661     29
            ..
10729751    54
10178398    55
5080355     56
10999059    57
5950577     58
7397758     59
3053437     60
7541410     61
4150008     62
10212684    63
261823      64
3874112     65
6159690     66
10759325    67
8357862     68
4443682     69
3700731     70
5850400     71
814547      72
6571398     73
6834071     74
10142322    75
5782816     76
3573226     77
4349961     78
11525473    79
7075085     80
4906906     81
5446100     82
1064306     83
Length: 84, dtype: int64
None

In [21]:
URM = rs.create_tgt_URM(IX_tgt_playlists, IX_items, train)
URM = URM.tocsr()
print(URM)

Calculated 0 users ratings over 84
  (0, 609)	1
  (0, 2173)	1
  (0, 3596)	1
  (0, 4060)	1
  (0, 4380)	1
  (1, 1964)	1
  (1, 2263)	1
  (1, 3786)	1
  (1, 4353)	1
  (1, 4654)	1
  (2, 63)	1
  (2, 212)	1
  (2, 283)	1
  (2, 1911)	1
  (2, 2518)	1
  (2, 4351)	1
  (2, 4408)	1
  (3, 460)	1
  (3, 608)	1
  (3, 697)	1
  (3, 1840)	1
  (3, 1879)	1
  (3, 3525)	1
  (4, 1972)	1
  (4, 2840)	1
  :	:
  (80, 2389)	1
  (80, 3578)	1
  (80, 3936)	1
  (80, 4060)	1
  (80, 4408)	1
  (81, 1468)	1
  (81, 2202)	1
  (81, 3819)	1
  (81, 4112)	1
  (81, 4474)	1
  (82, 1508)	1
  (82, 1625)	1
  (82, 3066)	1
  (82, 3525)	1
  (82, 3759)	1
  (82, 3872)	1
  (82, 4028)	1
  (82, 4091)	1
  (83, 209)	1
  (83, 268)	1
  (83, 1395)	1
  (83, 2078)	1
  (83, 2153)	1
  (83, 2516)	1
  (83, 3267)	1

In [22]:
print(URM[0,:])

  (0, 609)	1
  (0, 2173)	1
  (0, 3596)	1
  (0, 4060)	1
  (0, 4380)	1

In [23]:
IX_items.index[IX_items == 1378]

Int64Index([938435], dtype='int64')

In [24]:
train[train['playlist_id'].isin(IX_tgt_playlists.index[IX_tgt_playlists == 0])]

        playlist_id  track_id
123446      7670304   3338219
151856      7670304   3590649
302801      7670304   2720582
365045      7670304   1295096
760879      7670304   1136419

In [25]:
recommendetions = np.array([])
for p in IX_tgt_playlists.values:
            avg_sims = URM[p,:].dot(S).toarray().ravel()
            top = rs.top5_outside_playlist(avg_sims, p, train, IX_tgt_playlists, IX_tgt_items)
            recommendetions = np.append(recommendetions, rs.sub_format(top))
            if (p % 1000 == 0):
                print('Recommended ' + str(p) + ' users over ' + str(IX_tgt_playlists.values.shape[0]))
print(recommendetions.shape[0])
print(tgt_playlists['playlist_id'].shape[0])
print(IX_tgt_playlists.shape[0])
#recs = pd.DataFrame(data=np.array([tgt_pl_reduced['playlist_id'], recommendetions]).transpose() , index=range(IX_tgt_playlists.shape[0]), columns=['playlist_id', 'track_ids'])
recs = pd.DataFrame({'playlist_id' : IX_tgt_playlists.index.values, 'track_ids' : recommendetions})
recs

Recommended 0 users over 84
84
84
84

    playlist_id                                track_ids
0       7670304  1042548 1647509 2788426 2445373 2855889
1       7559928  3595130 2348847 3078945 1914337 2765601
2       7623847   1498799 2041957 2557633 168894 2146830
3      11490052   1181241 731135 3137662 1185658 3671664
4         44442    427003 2053293 2225942 354409 1498799
5       5896390  2873439 1707628 1947473 1689335 2859364
6       7751126   947635 3554491 1707421 2557633 3808909
7       4916097    427003 354409 2053293 3311035 2225942
8      11266592   3102273 2378652 1137264 2752338 287886
9       3510855  1185658 1181241 2225942 3846669 1249046
10      3167809  3000474 3389835 2969100 2243161 3794123
11      3841665    2911518 427003 2225942 3554491 661804
12      7656514   3581440 3186602 1708079 209196 3727132
13     11400914    3114611 192300 1088475 545960 3595130
14      6364732   699547 3000474 1944997 1832677 2571250
15      7069134  2788426 1647509 3102273 2445373 1078075
16     10831627  3389835 2684386 2969100 2243161 3794123
17        61413    731135 871858 2136267 3389835 2298424
18      8709232    3496100 1708079 623384 731135 3822505
19      7452956  3102273 1647509 3287819 1078075 2445373
20      3611013    319613 1053213 392524 2882303 3846669
21      6132763   3579440 2839756 1136419 623384 2788426
22      3091337  2370906 3102273 1707421 2862475 3856327
23      6571192  2788426 3102273 3498040 2509644 2445373
24      5778535   2330305 3808909 2911518 947635 1947473
25      8258539   2788426 139197 3647261 2445373 1647509
26     10757724  2030045 1188000 1077228 1007253 2790155
27      2899769  2839253 2136267 3103440 2790155 2208924
28      7039000     947635 661804 3554491 427003 1498799
29      8503661   2053418 1088475 545960 3078945 3550491
..          ...                                      ...
54     10729751   2873439 1707628 2619282 926181 3532600
55     10178398  1185658 2298424 2684386 3794123 2969100
56      5080355   2378652 1707628 961859 3705881 2752338
57     10999059   1707628 2873439 3532600 2619282 133630
58      5950577  1707628 1689335 2235046 2873439 2788426
59      7397758   1707628 2873439 2619282 926181 3532600
60      3053437      287886 15136 926181 1707628 2873439
61      7541410  2066793 2367877 2969100 3137662 2243161
62      4150008    871858 2684386 1185658 2298424 731135
63     10212684  2788426 1647509 1944997 2391653 2330305
64       261823     634218 3554491 1053213 15136 1707628
65      3874112   2882303 338575 2030045 2873439 2483925
66      6159690   1707628 2873439 2445373 961859 3705881
67     10759325    2330305 2788426 661804 1647509 392524
68      8357862    2557633 2882283 726864 1707421 859666
69      4443682  1445410 1647509 1042548 1091700 1078075
70      3700731  3685453 2276342 3186602 1916878 3550491
71      5850400   2145290 3717618 3315809 1445410 904737
72       814547    2882303 2873439 133630 961859 3086595
73      6571398   1678059 1495344 2847436 3352696 330892
74      6834071   3794123 1944997 3389835 871858 2298424
75     10142322  1885521 1707628 2873439 3532600 3705881
76      5782816  2788426 1647509 2445373 3647261 2855889
77      3573226   3647261 2855889 2445373 1647509 425367
78      4349961   3752844 2557633 3550491 661804 3668689
79     11525473    1445410 425367 170549 1742111 2557730
80      7075085     134408 160338 904737 1374934 2359404
81      4906906     2557633 168894 726864 2657388 661804
82      5446100   3102273 2911518 1707421 947635 3554491
83      1064306  1495344 2847436 3352696 2895585 2442476

[84 rows x 2 columns]

In [26]:
train[train['playlist_id'] == 7670304]

        playlist_id  track_id
123446      7670304   3338219
151856      7670304   3590649
302801      7670304   2720582
365045      7670304   1295096
760879      7670304   1136419

In [27]:
print(IX_tgt_items.loc[[3078945, 113603, 2378652, 3261289, 1730098]])
print(IX_items.loc[[2765601, 3338219, 1137264, 1295096, 2277545]])

3078945    74.0
113603      NaN
2378652    73.0
3261289     NaN
1730098    71.0
dtype: float64
2765601    3615
3338219    3596
1137264     756
1295096    2173
2277545    4386
dtype: int64

In [28]:
print(S.tocsc()[3615, [73,296,71,151,273]])
print('\n')
print(S.tocsc()[3615, :])
print('\n')
print(S.tocsc()[3596, [73,296,71,151,273]])
print('\n')
print(S.tocsc()[3596, :])
print('\n')
print(S.tocsc()[756, [73,296,71,151,273]])
print('\n')
print(S.tocsc()[756, :])
print('\n')
print(S.tocsc()[2173, [73,296,71,151,273]])
print('\n')
print(S.tocsc()[2173, :])
print('\n')
print(S.tocsc()[4386, [73,296,71,151,273]])
print('\n')
print(S.tocsc()[4386, :])

  (0, 1)	0.166666666667
  (0, 9)	0.174204788048
  (0, 50)	0.174204788048
  (0, 52)	0.25
  (0, 74)	0.333333333333
  (0, 78)	0.166666666667
  (0, 109)	0.166666666667
  (0, 137)	0.174204788048
  (0, 159)	0.166666666667
  (0, 173)	0.166666666667
  (0, 210)	0.583333333333
  (0, 215)	0.240320784537
  (0, 218)	0.25
  (0, 247)	0.25
  (0, 260)	0.166666666667
  (0, 263)	0.166666666667
  (0, 270)	0.240320784537
  (0, 274)	0.174204788048
  (0, 280)	0.25
  (0, 319)	0.166666666667





  (0, 1)	0.166666666667
  (0, 9)	0.174204788048
  (0, 50)	0.174204788048
  (0, 51)	0.166666666667
  (0, 52)	0.166666666667
  (0, 74)	0.5
  (0, 78)	0.333333333333
  (0, 109)	0.166666666667
  (0, 173)	0.333333333333
  (0, 177)	0.166666666667
  (0, 196)	0.166666666667
  (0, 210)	0.25
  (0, 215)	0.240320784537
  (0, 216)	0.166666666667
  (0, 218)	0.25
  (0, 247)	0.166666666667
  (0, 263)	0.166666666667
  (0, 280)	0.166666666667
  (0, 281)	0.166666666667
  (0, 319)	0.166666666667


  (0, 0)	0.583333333333


  (0, 15)	0.261307182072
  (0, 16)	0.333333333333
  (0, 18)	0.261307182072
  (0, 23)	0.261307182072
  (0, 30)	0.25
  (0, 31)	0.333333333333
  (0, 33)	0.25
  (0, 67)	0.333333333333
  (0, 73)	0.583333333333
  (0, 85)	0.261307182072
  (0, 86)	0.25
  (0, 108)	0.261307182072
  (0, 123)	0.333333333333
  (0, 150)	0.333333333333
  (0, 152)	0.25
  (0, 167)	0.25
  (0, 168)	0.261307182072
  (0, 171)	0.261307182072
  (0, 208)	0.583333333333
  (0, 314)	0.261307182072


  (0, 0)	0.25
  (0, 2)	0.25


  (0, 15)	0.261307182072
  (0, 23)	0.348409576096
  (0, 30)	0.333333333333
  (0, 31)	0.25
  (0, 33)	0.25
  (0, 67)	0.25
  (0, 71)	0.25
  (0, 73)	0.25
  (0, 81)	0.333333333333
  (0, 85)	0.261307182072
  (0, 171)	0.261307182072
  (0, 208)	0.25
  (0, 211)	0.333333333333
  (0, 234)	0.25
  (0, 253)	0.25
  (0, 267)	0.25
  (0, 314)	0.261307182072
  (0, 328)	0.25
  (0, 329)	0.333333333333
  (0, 331)	0.25





  (0, 0)	0.0833333333333
  (0, 94)	0.087102394024
  (0, 107)	0.0833333333333
  (0, 115)	0.0
  (0, 138)	0.087102394024
  (0, 141)	0.0833333333333
  (0, 153)	0.0833333333333
  (0, 159)	0.0833333333333
  (0, 165)	0.0833333333333
  (0, 178)	0.0833333333333
  (0, 198)	0.080106928179
  (0, 209)	0.583333333333
  (0, 222)	0.0833333333333
  (0, 223)	0.0833333333333
  (0, 233)	0.0833333333333
  (0, 261)	0.166666666667
  (0, 264)	0.0833333333333
  (0, 281)	0.0833333333333
  (0, 289)	0.0833333333333
  (0, 348)	0.0833333333333

In [29]:
map_eval = rs.evaluate(recs, test, 'MAP')
map_eval

Calculated AP for playlist #0

0.08333333333333333

In [30]:
IX_tgt_playlists

7670304      0
7559928      1
7623847      2
11490052     3
44442        4
5896390      5
7751126      6
4916097      7
11266592     8
3510855      9
3167809     10
3841665     11
7656514     12
11400914    13
6364732     14
7069134     15
10831627    16
61413       17
8709232     18
7452956     19
3611013     20
6132763     21
3091337     22
6571192     23
5778535     24
8258539     25
10757724    26
2899769     27
7039000     28
8503661     29
            ..
10729751    54
10178398    55
5080355     56
10999059    57
5950577     58
7397758     59
3053437     60
7541410     61
4150008     62
10212684    63
261823      64
3874112     65
6159690     66
10759325    67
8357862     68
4443682     69
3700731     70
5850400     71
814547      72
6571398     73
6834071     74
10142322    75
5782816     76
3573226     77
4349961     78
11525473    79
7075085     80
4906906     81
5446100     82
1064306     83
Length: 84, dtype: int64

In [31]:
tgt_playlists

    playlist_id
0       7670304
1       7559928
2       7623847
3      11490052
4         44442
5       5896390
6       7751126
7       4916097
8      11266592
9       3510855
10      3167809
11      3841665
12      7656514
13     11400914
14      6364732
15      7069134
16     10831627
17        61413
18      8709232
19      7452956
20      3611013
21      6132763
22      3091337
23      6571192
24      5778535
25      8258539
26     10757724
27      2899769
28      7039000
29      8503661
..          ...
54     10729751
55     10178398
56      5080355
57     10999059
58      5950577
59      7397758
60      3053437
61      7541410
62      4150008
63     10212684
64       261823
65      3874112
66      6159690
67     10759325
68      8357862
69      4443682
70      3700731
71      5850400
72       814547
73      6571398
74      6834071
75     10142322
76      5782816
77      3573226
78      4349961
79     11525473
80      7075085
81      4906906
82      5446100
83      1064306

[84 rows x 1 columns]

In [32]:
np.array_equal(IX_items.index.values, tr_info_reduced['track_id'])

True