In [1]:
import os.path
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',500)

## Importing datasets

In [26]:
traindata = pd.read_csv('Data/train_final.csv','\t')
tracksdata = pd.read_csv('Data/tracks_final.csv','\t')
playlistsdata = pd.read_csv('Data/playlists_final.csv','\t')
targetplaylists = pd.read_csv('Data/target_playlists.csv','\t')
targettracks = pd.read_csv('Data/target_tracks.csv','\t')

In [27]:
traindata.head()

   playlist_id  track_id
0      3271849   2801526
1      5616275    727878
2     11267488   2805283
3     10103900   1515105
4      3836898   2945623

In [28]:
tracksdata.head()

,track_id,artist_id,duration,playcount,album,tags
0,2972914,144,224000,49.0,[7],"[54087, 1757, 1718, 116712, 189631]"
1,2750239,246,157000,1.0,[8],"[189631, 3424, 177424, 46208, 205245]"
2,1550729,144,217000,554.0,[9],"[54087, 109806, 46869, 183258, 54337]"
3,2169950,144,207000,200.0,[9],"[54087, 70618, 207003, 109806, 116712]"
4,1903709,144,198000,5.0,[None],"[54087, 81223, 116712, 215342, 71028]"

In [29]:
playlistsdata.head()

,created_at,playlist_id,title,numtracks,duration,owner
0,1216545588,644838,[12727],27,6522,41504
1,1249326867,7577564,[],9,2650,41504
2,1257766688,3120683,[183],16,3645,44542
3,1248079275,4278112,"[12389, 18698, 18925, 11695, 7117]",15,4151,44542
4,1175201268,8656823,"[12809, 2095, 13257, 12671, 20426, 14448, 18698]",84,18414,44542

In [83]:
result = targettracks.set_index('track_id').join(tracksdata.set_index('track_id'))
result.drop(['artist_id','duration','album','tags'],1,inplace=True)
result.sort_values(by='playcount',axis=0, inplace=1, ascending=False)
result['track_id']=result.index
result.set_index(np.arange(0,result.shape[0]), inplace=True)
result.head()

   playcount  track_id
0  1918184.0   2971135
1   870899.0    311947
2   787405.0    327350
3   781269.0    104960
4   690559.0    661654

In [89]:
track_ids = np.array(result['track_id'].values[0:5])

array([2971135,  311947,  327350,  104960,  661654])

In [91]:
final = targetplaylists
final['track_ids'] = track_ids[0]