# Libraries Import

In [1]:
import pandas as pd
import numpy as np
import os.path
import recsys as rs
import notipy
import TopSimilarRecommender as TSR
import random

# Datasets

In [2]:
train = pd.read_csv('Data/train_final.csv','\t')
tr_info = pd.read_csv('Data/tracks_final.csv','\t')
pl_info = pd.read_csv('Data/playlists_final.csv','\t')
tgt_pl = pd.read_csv('Data/target_playlists.csv','\t')
tgt_tr = pd.read_csv('Data/target_tracks.csv','\t')

# Data Visualization

In [3]:
train.head()

   playlist_id  track_id
0      3271849   2801526
1      5616275    727878
2     11267488   2805283
3     10103900   1515105
4      3836898   2945623

In [4]:
tr_info.head()

,track_id,artist_id,duration,playcount,album,tags
0,2972914,144,224000,49.0,[7],"[54087, 1757, 1718, 116712, 189631]"
1,2750239,246,157000,1.0,[8],"[189631, 3424, 177424, 46208, 205245]"
2,1550729,144,217000,554.0,[9],"[54087, 109806, 46869, 183258, 54337]"
3,2169950,144,207000,200.0,[9],"[54087, 70618, 207003, 109806, 116712]"
4,1903709,144,198000,5.0,[None],"[54087, 81223, 116712, 215342, 71028]"

In [5]:
pl_info.head()

,created_at,playlist_id,title,numtracks,duration,owner
0,1216545588,644838,[12727],27,6522,41504
1,1249326867,7577564,[],9,2650,41504
2,1257766688,3120683,[183],16,3645,44542
3,1248079275,4278112,"[12389, 18698, 18925, 11695, 7117]",15,4151,44542
4,1175201268,8656823,"[12809, 2095, 13257, 12671, 20426, 14448, 18698]",84,18414,44542

In [6]:
tgt_pl.head()

   playlist_id
0     10024884
1     10624787
2      4891851
3      4267369
4        65078

In [7]:
tgt_tr.head()

   track_id
0   1316175
1   3885714
2   3091270
3    226759
4    230596

In [8]:
train, test, tgt_tracks, tgt_playlists = rs.split_train_test(train, 10, 20, 5, 2517)

In [9]:
rec = TSR.TopSimilarRecommender()
fit_dict = {'tracks_info' : tr_info, 
            'attributes' : ['artist_id', 'album', 'tags', 'playcount'],
            'attributes_to_prune' : ['tags'],
            'tgt_tracks' : tgt_tracks,
            'n_min_attr' : 5,
            'idf' : True,
            'measure' : 'dot',
            'shrinkage' : 0,
            'n_el_sim' : 20}

In [10]:
rec.fit_without_matrix_builder(**fit_dict)
print('Model fitted!')

Fixed dataset
Calculated Indices
Eliminated low frequency attributes!
Model fitted!

In [11]:
_, _, rec.IX_tgt_playlists, _ = rs.create_sparse_indexes(playlists=tgt_playlists)
URM = rs.create_tgt_URM(rec.IX_tgt_playlists, rec.IX_items, train)
URM = URM.tocsr()
print('URM built')

Calculated 0 users ratings over 4420
Calculated 1000 users ratings over 4420
Calculated 2000 users ratings over 4420
Calculated 3000 users ratings over 4420
Calculated 4000 users ratings over 4420
URM built

In [12]:
URM

<4420x100000 sparse matrix of type '<class 'numpy.int32'>'
	with 165758 stored elements in Compressed Sparse Row format>